{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	
{% endblock %}
	
{% block body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Récompenses &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	
	<div class="bloc-rewards">
		<div class="bloc-reward">
		THE KING <img src="{{ asset('bundles/lotofootv2/img/rewards/r1.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		THE CHOUNE <img src="{{ asset('bundles/lotofootv2/img/rewards/r2.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		THE BOUSE <img src="{{ asset('bundles/lotofootv2/img/rewards/r3.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		L'ÉCLAIR <img src="{{ asset('bundles/lotofootv2/img/rewards/r4.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		THE BOURSE MOLLE <img src="{{ asset('bundles/lotofootv2/img/rewards/r5.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		THE SMOKING <img src="{{ asset('bundles/lotofootv2/img/rewards/r6.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		TOP 50 <img src="{{ asset('bundles/lotofootv2/img/rewards/r7.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		TOP 100 <img src="{{ asset('bundles/lotofootv2/img/rewards/r8.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
		<div class="bloc-reward">
		TOP 500 <img src="{{ asset('bundles/lotofootv2/img/rewards/r9.png') }}"/><br/>
		<div class="lign-blue"></div>
		<div class="txt-reward">{{ app.user.username }}</div>
		</div>
	</div>
	

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
