{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
		<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Les Médailles
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
<br/><br/>
<div class="row" >

	<table class="table-striped vote">
	
		<tr>
            <th>Médaille</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>

		{% for index1 in 1..18 %}
			<tr style="text-align:left;">
				<td style="background-color:rgb(55,46,50);color:white;text-align:center;">				
					<img src="{{ asset('bundles/lotofootv2/img/rewards/r'~index1~'.png') }}" 
					class="tooltip-on"			
					title="{{('rewards.r'~index1~'.desc') | trans}}"
					data-placement="bottom">
				</td>
				<td style="background-color:rgb(55,46,50);color:white;">
					{{('rewards.r'~index1~'.title') | trans}}
				</td>
				<td>
					{{('rewards.r'~index1~'.desc') | trans}}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
	<br/><br/>
	
<div class="row">
	<table id="ranking_table" class="vote">
	<thead>
		<tr>
            <th>Joueurs <span class="caret"></span></th>
            <th>Médailles</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr style="text-align:left;" class="{% if u.username == app.user.username %}my-rank{% endif %}">
        	<td>
        		<span class="sort">    
			     {{u.username}}
			     </span>
        	</td>
        	<td class="{% if u.username == app.user.username %}my-rank{% else %}fond-reward{% endif %}">
        		{% for r in rewards(u.id)%}
					<img src="{{ asset('bundles/lotofootv2/img/rewards/r'~r.rewardId~'.png') }}" 
						class="tooltip-on"
						title="{{('rewards.r'~r.rewardId~'.desc') | trans}}"
						data-placement="bottom"></img>&nbsp;
				{% endfor %}
        	</td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
	
	<br/><br/>
	
</div>

<script type="text/javascript">
$(document).ready(function() { 
    $("#ranking_table").tablesorter( {textExtraction: function(node){
        if($(node).children(".sort").length > 0){
        	   return $(node).children(".sort").text();
        }
        return node.innerHTML;
    }}); 
}); 
</script>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
