{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	
{% endblock %}
	
{% block body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Récompenses &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	
	<div class="bloc-rewards">
	
		{% for index in 1..11 %}
			
			<div class="bloc-reward">
				{{ ('rewards.r'~index~'.title')|trans}} <img src="{{ asset('bundles/lotofootv2/img/rewards/r'~index~'.png') }}" 
					class="tooltip-on"			
					title="{{('rewards.r'~index~'.desc') | trans}}"
					data-placement="bottom"><br/>
				<div class="lign-blue"></div>
				<div class="txt-reward">
					{% for r in rewards %}
						{% if r.reward_id == index %}
							{{ r.username }}<br/>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			
		{% endfor %}

	</div>
	<div class="stop-float"></div>

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
