{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Stats Équipes &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	<div class="title-body">
		<a class="letter" href="#A">A</a> 
		<a class="letter" href="#B">B</a> 
		<a class="letter" href="#C">C</a> 
		<a class="letter" href="#D">D</a> 
		<a class="letter" href="#E">E</a> 
		<a class="letter" href="#F">F</a> 
		<a class="letter" href="#G">G</a> 
		<a class="letter" href="#H">H</a> 
		<a class="letter" href="#I">I</a> 
		<a class="letter" href="#J">J</a> 
		<a class="letter" href="#K">K</a> 
		<a class="letter" href="#L">L</a> 
		<a class="letter" href="#M">M</a> 
		<a class="letter" href="#N">N</a> 
		<a class="letter" href="#O">O</a> 
		<a class="letter" href="#P">P</a> 
		<a class="letter" href="#Q">Q</a> 
		<a class="letter" href="#R">R</a> 
		<a class="letter" href="#S">S</a> 
		<a class="letter" href="#T">T</a> 
		<a class="letter" href="#U">U</a> 
		<a class="letter" href="#V">V</a> 
		<a class="letter" href="#W">W</a> 
		<a class="letter" href="#X">X</a> 
		<a class="letter" href="#Y">Y</a> 
		<a class="letter" href="#Z">Z</a>
	</div>
{% endblock %}

{% block body %}
		
		{% for letter in registry %}
			
			<div class="bloc-letter" id="{{letter[0]}}">
				<div class="title-letter">{{letter[0]}}</div>
				{% for team in letter[1] %}
					<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub{{team[1]}}.html" target="blank"><img src="http://medias.lequipe.fr/logo-football/{{team[1]}}/30"/></a> 
					<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub{{team[1]}}.html" target="blank">{{team[0]}}</a><br/>
				{% endfor %}
			</div>
			
		{% endfor %}
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
