{% set bg_wc = true %}

{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">CLASSEMENT - COUPE DU MONDE 2018
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}

<style type="text/css">
    {% for g in groups %}
    .group-{{ g }} tr.{{ g }} {
        display: table-row !important;
    }
    .group-{{ g }} tr.account:not(.{{ g }}) {
        display: none;
    }
    {% endfor %}
</style>

<div class="row">
		<div class="container container-home">
	<br/>
	<div class="row" style="text-align:center;">
        {% for g in groups %}
            <img src="{{ asset('bundles/lotofootv2/img/groups/' ~ g ~ '.png') }}" title="{{ g}}" style="height: 50px; cursor: pointer" onclick="toggleGroup('{{ g }}')"/>
        {% endfor %}
	<table id="ranking" class="table-striped vote">
        <tr>
            <th>Rang <span class="caret"></th>
            <th>Joueur <span class="caret"></th>
            <th>Points <span class="caret"></th>
            <th>Matchs <span class="caret"></th>
            <th>Scores <span class="caret"></th>
            <th>Resultats <span class="caret"></th>
            <th>Moyenne <span class="caret"></span></th>
        </tr>
        {% for account in accounts %}
        <tr class="account {% if account.id == app.user.id %}my-rank{% endif %} {% if loop.index % 10 == 0 %} cl-limit {% endif %} {% if account.groups is defined and account.groups is not null %} {{ account.groups }} {% endif %}" >
            <td>
            <span class="sort" style="display:none"> {{loop.index}}</span>
            {% if account.cupRank == 99 or account.cupRank == 0 %}
                -
            {% else %}
                {{account.cupRank}}
            {% endif %}
            </td>
            <td style="text-align:left;">{{account.username}} {% if account.cupCagnoute == 1 %} &nbsp; <img src="{{ asset('bundles/lotofootv2/img/picto-cagnoute-cup.png') }}"/>{% endif %}
            {% if account.groups is defined and account.groups is not null %}
                &nbsp; <img src="{{ asset('bundles/lotofootv2/img/groups/' ~ account.groups ~ '.png') }}" title="{{ account.groups}}" style="height: 30px"/>
            {% endif %}
            {% if account.team is defined and account.team is not null %}
                &nbsp; <img src="http://medias.lequipe.fr/logo-football/{{account.team}}/30"/>
            {% endif %}
            </td>
            <td>{{account.cupPoints}}</td>
            <td>{{account.statCupMatchs}}</td>
            <td>{{account.statCupScores}}</td>
            <td>{{account.statCupResults}}</td>
            <td>{% if account.statCupMatchs==0 %}0
			    {% else %}
			    {{ (account.cupPoints / matchCorrected)|number_format(2, '.', ',')  }}
			    {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
	</div>
	</div>
	</div>
    <script type="text/javascript">
        var groupFiltered = [];
        function toggleGroup(groupName) {
            if ( groupFiltered.indexOf(groupName) != -1 ) {
                groupFiltered.splice(groupFiltered.indexOf(groupName), 1);
            } else {
                groupFiltered.push(groupName);
            }

            console.log(groupFiltered)

            {% for g in groups %}
            $("table#ranking").removeClass("group-{{ g }}");
            {% endfor %}

            groupFiltered.forEach( (g) => {
                $("table#ranking").addClass("group-"+g);
            });
        }
    </script>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
