{% set bg_wc = true %}

{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Ton Classement - COUPE DU MONDE 2018	&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}

{% block body %}
	<br/>
	<div class="row" style="text-align:center;">
	<table class="table-striped vote">
        <tr>
            <th>Rang <span class="caret"></th>
            <th>Joueur <span class="caret"></th>
            <th>Points <span class="caret"></th>
            <th>Matchs <span class="caret"></th>
            <th>Scores <span class="caret"></th>
            <th>Resultats <span class="caret"></th>
            <th>Moyenne <span class="caret"></span></th>
        </tr>
        {% for account in accounts %}
        <tr class="{% if account.id == app.user.id %}my-rank{% endif %} {% if loop.index % 10 == 0 %} cl-limit {% endif %}" >
            <td>
            <span class="sort" style="display:none"> {{loop.index}}</span>
            {% if account.cupRank == 99 or account.cupRank == 0 %}
                -
            {% else %}
                {{account.cupRank}}
            {% endif %}
            </td>
            <td style="text-align:left;">{{account.username}} {% if account.cupCagnoute == 1 %} &nbsp; <img src="{{ asset('bundles/lotofootv2/img/picto-cagnoute-cup.png') }}"/>{% endif %}</td>
            <td>{{account.cupPoints}}</td>
            <td>{{account.statCupMatchs}}</td>
            <td>{{account.statCupScores}}</td>
            <td>{{account.statCupResults}}</td>
            <td>{% if account.statCupMatchs==0 %}0
			    {% else %}
			    {{ (account.cupPoints / matchCorrected)|number_format(2, '.', ',')  }}
			    {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
	</div>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
