{% set bg_wc = true %}
{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">REGLEMENT - COUPE DU MONDE 2018
			</div>

		</div>	
	</div>
{% endblock %}
	

{% block body %}
	<div class="row">
		<div class="container container-home">
			<h2><span class="rules">&nbsp;1. COUPE DU MONDE 2018&nbsp;</span></h2>
			Venez parier sur tous les matchs de la COUPE DU MONDE 2018 ! 
			<ul>
				<li>Tous les joueurs inscrits sur le site peuvent participer.</li>
				<li>Les paris concernant la COUPE DU MONDE sont ouverts à tous pendant toute la durée de la COUPE DU MONDE. </li>
				<li>Afin de proposer un challenge intéressant, une contribution de 10 euros par participant est demandée pour pouvoir concourir à la Cagnoute COUPE DU MONDE.</li>
				<li>Si vous avez payé vos 10€ vous verrez apparaître une nouvelle médaille, symbolisée par un petit cadeau dorée tout en haut de votre écran.</li>
				<li>Le paiement des 10€ n'est pas obligatoire, on peut choisir de jouer gratuitement (sans verser les 10€), dans ce cas, vous ne pourrez pas postuler aux lots mis en jeu.</li>
				<li>Aucune commission n'est prélevée sur le "pot" accumulé : 100% est reversé aux gagnants (voir section Cadeaux).</li>
				<li>la COUPE DU MONDE 2018 débute le 14 juin 2018.</li>
				<li>Le vainqueur est celui qui a obtenu le plus de points à la fin de la COUPE DU MONDE.</li>
			</ul>
			<h2><span class="rules">&nbsp;2. LES PARIS&nbsp;</span></h2>
			<ul>
				<li>Vous pourrez voter sur tous les matchs de la Coupe du Monde et ce, presque en temps réel : en effet, une heure limite sera propre à chaque match et vous permettra donc de modifier vos paris jusqu'à la dernière minute et/ou de ne pas être coincé si vous avez raté une éventuelle date limite.</li>
				<li>Aucun recours ne sera accepté si vous avez dépassé l'heure limite pour voter. </li>
				<li>Vous pouvez changer vos paris autant de fois que vous le souhaitez tant que la date limite associée au match n'est pas révolue.</li>
				<li><strong>Pendant la phase de poules :</strong> Les scores et résultats entérinés sont les scores et resultats après 90 minutes (+ temps additionnel) hors prolongations .</li>
				<li><strong>Après la phase de poules :</strong> Les résultats entérinés sont les résultats définitifs (après 90 minutes s'il n'y a pas de prolongations, après 120 minutes s'il y a des prolongations, ou après les tirs au but s'il y a la séance des tirs au but), il ne peut donc pas y avoir de match nul à partir des 8èmes de finale. Les scores entérinés sont les scores après 90 minutes ou après 120 minutes le cas échéant.</li>
			</ul>
			<h2><span class="rules">&nbsp;3. LES POINTS&nbsp;</span></h2>
			<ul>
				<li>Si vous trouvez le vainqueur d'un match (ou s'il y a match nul), cela vous rapporte 1 point, c'est ce qu'on appelle communément le résultat (1N2). 1 si vous pensez que c'est la première équipe citée qui va l'emporter, N si vous pensez que les 2 équipes se quitteront par un score de parité, 2 si vous pensez que c'est la seconde équipe citée qui va l'emporter.</li>
				<li>Si vous trouvez le score exact d'un match, cela vous rapporte 2 points, c'est ce qu'on appelle communément le score (3-0 par exemple).</li>
				<li>Vous pouvez multiplier vos chances en dissociant vos paris : ex: en pariant sur le Honduras et en pariant sur le score 1-1.</li>
				<li>Si vous pariez sur le résultat "Hongrie vainqueur" avec un score de 1-0 et que le score est bien de 1-0, cela vous rapporte donc 3 points (1 pour le résultat +2 pour le score).</li>
			</ul>
			<h2><span class="rules">&nbsp;4. LES COEFFICIENTS&nbsp;</span></h2>
			Des coefficients seront associés à chaque phase de la coupe du monde. Vos points seront donc multipliés par le coefficient de chaque phase.
			<ul>
				<li><strong>Pour les matchs de poules : le coefficient est égal à 1</strong>, soit 48 matchs pour un total de 144 points</li>
				<li><strong>Pour les 1/8e de Finale : le coefficient est égal à 2</strong> (tous vos points acquis pour des matchs comptant pour les 1/8e seront multipliés par 2), soit 8 matchs pour un total de 48 points</li>
				<li><strong>Pour les 1/4 de Finale : le coefficient est égal à 3</strong> (tous vos points acquis pour des matchs comptant pour les 1/4 seront multipliés par 3), soit 4 matchs pour un total de 36 points</li>
				<li><strong>Pour les 1/2 Finale : le coefficient est égal à 4</strong>(tous vos points acquis pour des matchs comptant pour les 1/2 seront multipliés par 4), soit 2 matchs pour un total de 24 points</li>
				<li><strong>Pour la finale : le coefficient est égal à 5</strong>(vos points acquis sur la finale seront multipliés par 5), soit 15 points en jeu</li>
			</ul>
			<h2><span class="rules">&nbsp;5. LE VAINQUEUR&nbsp;</span></h2>
			Pour éviter toute ambiguïté, il ne pourra pas y avoir d'égalité et donc aucune réclamation. Les joueurs seront départagés de la façon suivante : 
			<ol>
				<li>Le nombre de points.</li>
				<li>Si égalité, le nombre de scores trouvés.</li>
				<li>Si égalité, le nombre de résultats trouvés.</li>
				<li>Si égalité, l'ordre d'inscription au site du loto (quasi impossible d'en arriver là au terme des 53 matchs, mais il faut bien départager).</li>
			</ol>
			<h2><span class="rules">&nbsp;6. LES RECOMPENSES&nbsp;</span></h2>
			Tous les gains seront répartis aux vainqueurs. La répartition officielle sera annoncée le 14 juin à la cloture des cagnoutes.
			Bien sûr les gains sont redistribués aux vainqueurs suivants si certains vainqueurs n'ont pas participé à la Cagnoute.<br/>
			<br/>
			Deux autres récompenses seront également attribués aux joueurs suivants :
			<ul>
				<li>Le <strong>joueur ayant plus grand nombre de résultats</strong> </li>
				<li>Le <strong>joueur ayant plus grand nombre de scores</strong></li>
			</ul>
			<strong>Attention : ces lots ne sont pas cumulatifs avec un autre lot</strong><br/>
			En cas d'égalité, les joueurs seront départagés de la façon suivante:
			<ol>
				<li>Plus grand nombre de scores/résultats n'ayant pas déjà gagné un lot</li>
				<li>Si égalité, n'ayant pas déjà gagné un lot le meilleur classement</li>
			</ol>
			<h2><span class="rules">&nbsp;7. LES MEDAILLES&nbsp;</span></h2>
			En fonction de votre réussite ou de votre débacle, vous verrez des petites icones appelées médailles en haut du site. <br/>Voici leur signification :<br/><br/>
			<table class="table-striped vote">
	
		<tr>
            <th>Médaille</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>

			{% for index1 in 1..9 %}
				<tr style="text-align:left;">
					<td style="background-color:#CB3229;color:white;text-align:center;">				
						<img src="{{ asset('bundles/lotofootv2/img/rewards/r'~index1~'.png') }}" 
						class="tooltip-on"			
						title="{{('rewards.r'~index1~'.desc') | trans}}"
						data-placement="bottom">
					</td>
					<td style="background-color:#CB3229;color:white;">
						{{('rewards.r'~index1~'.title') | trans}}
					</td>
					<td>
						{{('rewards.r'~index1~'.desc') | trans}}
					</td>
				</tr>
			{% endfor %}
		</table>
		<br/><br/>
		Vous voulez savoir qui détient une médaillé en particulier ? <a href="{{ path('_stats_rewards') }}">La liste est disponible ici !</a>
		
		<h2><span class="rules">&nbsp;8. CONTACT&nbsp;</span></h2>
		Vous avez encore une question malgré cette foultitude d'informations ?<br/>
		Envoyez votre demande à l'adresse <a href="mailto:lotofoot.mail@gmail.com">lotofoot.mail@gmail.com</a>
	</div>
</div>
	
<script type="text/javascript">
$(document).ready(function() { 
    $("#ranking_table").tablesorter( {textExtraction: function(node){
        if($(node).children(".sort").length > 0){
        	   return $(node).children(".sort").text();
        }
        return node.innerHTML;
    }}); 
}); 
</script>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
