{% set bg_wc = true %}
{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Tes Paris - COUPE DU MONDE 2018	&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}
	
{% block body %}


    <strong>Attention : </strong> 
    <ul>
    	<li>Chaque match a une date limite et une heure limite qui lui est propre vous n'êtes pas obligé de parier sur tous les matchs proposés. Vous pouvez parier au fur et mesure que les matchs arrivent.</li>
    	<li>De même, tant que la date limite n'est pas atteinte, vous pouvez parier autant de fois que vous le souhaitez sur un match.</li>
    </ul><br/>
    
    {% if hasvoted and zero==false %}
        <span style="color:rgb(64,200,83)">Votes enregistrés</span><br/>
    {% endif %}
   
     {% if warn is defined and warn is not null %}
        <span style="color:orange">{{warn}}</span><br/>
    {% endif %}
    
    {% if hasvoted and zero==true %}
        <span style="color:red">Aucun pari renseigné</span><br/>
    {% endif %}
    
        {% if err is defined and err is not null %}
    
    <span style="color:red">
        {% autoescape false %}
        {{err}}
        {% endautoescape %}
    </span>
    
    {% endif %}
    
	<div class="row" style="text-align:center;">

	    <table>
	        <tr><td  style="border:none; vertical-align:top;">
	           <input type="button" class="btn-admin tooltip-on" value="Auto 1 N 2" data-title="Remplit automatiquement le resultat en fonction du score !" onclick="autoResult()"/><br/><br/>
	                
	            <form action="{{ path('_cup_post') }}" method="post">
	
		            <table  class="vote">
		            	<tr>
		        			<th colspan="7" style="border-bottom: 1px white solid">Votes en cours</th>
		      			</tr>
		                <tr>
		                    <th>#</th>
		                    <th>Match</th>
		                    <th>Date</th>
		                    <th>1</th>
		                    <th>N</th>
		                    <th>2</th>
		                    <th>Score parié</th>
		                </tr>
		                {% for match in opens %}
		                <tr class="vote-cup">
		                    <td>
		                        {{match.id}}
		                    </td>
		                    <td class="match">
		                        <div class="drapeau {{match.teamHome}}"></div><div class="match-cup">{{('nationalteams.'~match.teamHome) | trans}} (1)</div><br/>
	                            <div class="drapeau {{match.teamVisitor}}"></div><div class="match-cup">{{('nationalteams.'~match.teamVisitor) | trans}} (2)</div>
	                        </td>
	                        <td>
	                           {{match.deadline|date("d/m/Y H:i")}}
	                        </td>
		                    <td style="width:10px; padding:2px"><input id="result_{{match.id}}_1" type="radio" name="result_{{match.id}}" value="1"
		                        {% if app.request.get('result_'~match.id) == '1' %}checked{% endif %}/> </td>
		                    {% if match.factor == 1 %}
		                    <td style="width:10px; padding:2px"><input id="result_{{match.id}}_N" type="radio" name="result_{{match.id}}" value="N"
		                        {% if app.request.get('result_'~match.id) == 'N' %}checked{% endif %}/> </td>
		                    {% else %}
		                    <td></td>
		                    {% endif %}
		                    <td style="width:10px; padding:2px"><input id="result_{{match.id}}_2" type="radio" name="result_{{match.id}}" value="2"
		                        {% if app.request.get('result_'~match.id) == '2' %}checked{% endif %}/> </td>
		                    <td>    
		                        <input id="score_{{match.id}}" type="text" autocomplete="off" name="score_{{match.id}}" value="{{ app.request.get('score_'~match.id) }}" size="3" maxlength="3" style="width:30px" placeholder="x-x"/>
		                    </td>
		                </tr>
		                {% endfor %}
		            </table>
		            
		            <div class="control-group">
		                <div class="controls">
		                     <input type="submit" class="btn-vote" style="margin-left: 140px;" value="Valider vos paris !"/>
		                </div>
		            </div>
		            <div style="clear:both"></div>
		        </form><br/>
	        <a href="http://www.lequipe.fr/Football/Euro/Saison-2016/calendrier-resultats.html" target="_blank" alt ="Résultats EURO 2016" ><img src="{{ asset('bundles/lotofootv2/img/logo-lequipe.png') }}"/></a>
	        </td><td style="border:none; vertical-align:top;">
	         
	        
	         
	         <table  class="vote">
	         			<tr>
		        			<th colspan="7" style="border-bottom: 1px white solid">Votes terminés</th>
		      			</tr>
	                    <tr>
	                        <th>#</th>
	                        <th>Match</th>
	                        <th>Coeff</th>
	                        <th>1N2</th>
	                        <th>Score parié</th>
	                        <th>Score effectif</th>
	                        <th>Pts</th>
	                    </tr>
	                    {% for match in closed %}
	                    <tr class="vote-cup">
	                        <td>
	                            {{match.id}}
	                        </td>
	                        <td style="text-align:center; width:170px;">
	                            <div class="drapeau {{match.teamHome}}"></div><div class="match-cup">{{('nationalteams.'~match.teamHome) | trans}}</div><br/>
	                            <div class="drapeau {{match.teamVisitor}}"></div><div class="match-cup">{{('nationalteams.'~match.teamVisitor) | trans}}</div>
	                        </td>
	                        <td>
	                            <img style="padding-top:5px;" src="{{ asset('bundles/lotofootv2/img/coeff'~match.factor~'.png') }}"/>
	                        </td>
	                        <td class="{% if app.request.get('result_'~match.id) == match.result and match.result is not null %} scoreok {% endif %}">
	                            {{app.request.get('result_'~match.id)}}
	                        </td>
	                        <td class="{% if app.request.get('score_'~match.id) == match.score and match.score is not null %} scoreok {% endif %}">
	                            {{app.request.get('score_'~match.id)}}
	                        </td>
	                        <td>
	                            {{match.score}}
	                        </td>
	                        <td>
	                            {{app.request.get('points_'~match.id)}}
	                        </td>
	                    </tr>
	                    {% endfor %}
	                </table>
	        
	        </td></tr>
	    </table>
    
    </div>
    
    <script type="text/javascript">
    
    function autoResult(){
        if(confirm("Attention, cette action modifiera vos résultats selon le score parié")){
            $("[id^='score_']").each(function(){
                if($(this).val() != ""){
                    var i = this.id.split("_")[1];
                    var scores = $(this).val().split('-');
                    if(scores[0] > scores[1]){
                        $("#result_"+i+"_1").attr('checked', 'checked');
                    }else if(scores[0] < scores[1]){
                        $("#result_"+i+"_2").attr('checked', 'checked');
                    }else if(scores[0] == scores[1]){
                        $("#result_"+i+"_N").attr('checked', 'checked');
                    }
                }
            });
        }
    }
        
    </script>

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
