{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<img style="padding-bottom:15px" src="{{ asset('bundles/lotofootv2/img/anim2.gif') }}"/>
	<div class="title-body">
		{% if news is not null%}
			<a class="prev" href="{{ path('_home_prev_news')~'?number='~news.number}}" title="Info précédente"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
		{% endif %}
		
		<div class="ligne-body-left">&nbsp;</div>
		{% if news is not null%}
			{{news.title}}
		{% else %}
			{{ 'home.welcome' | trans }}
		{% endif %}
		
		{% if news is not null%}
		<a class="next" href="{{ path('_home_next_news')~'?number='~news.number}}" title="Info suivante"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
		{% endif %}
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	
{% endblock %}
	
{% block body %}
	
	{% if news is not null%}
		{{ news.date|date("d/m/Y") }}
		{% autoescape false %}
			{{news.text}}
		{% endautoescape %}
	{% else %}
		 {{ 'home.nonews' | trans }}
	{% endif %}
	
	<br/>
	Commenter :<br/>
	<form action="{{ path('_home_news_postcomm') }}" method="POST">
       <textarea rows="2" cols="100" name="text"></textarea>
       <input type="submit" value="Ajouter mon commentaire"></input>
    </form>
	
	{% if comms is defined and comms is not null %}
	   {% for comm in comms %}
		   <div style="border:1px solid gray">
		      {{comm.author}}, le {{comm.date | date("d/m/Y à H:i")}} : <br/>
		      {{comm.text}}
		   </div>
	   {% endfor %}
	{% endif %}
	
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
