{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
	
{% endblock %}
	
{% block title_body %}
	
	<div class="row">
		<div class="container">
			<img class="img-responsive banner" src="{{ asset('bundles/lotofootv2/img/banner_orig.jpg') }}"/>
		</div>
	</div>
	
	<div class="row">
		<div class="container container-home" style="text-align:center;">
			
			
				
			
				<div class="title-body">
					{% if news is not null%}
						<a class="other_news" href="{{ path('_home_prev_news')~'?number='~news.number}}" title="Info précédente"><img style="margin-top:-10px;" src="{{ asset('bundles/lotofootv2/img/prev.png') }}"  onmouseover="this.src='{{ asset('bundles/lotofootv2/img/prev-hover.png') }}'" onmouseout="this.src='{{ asset('bundles/lotofootv2/img/prev.png') }}'"/></a>
					{% endif %}
					{% if news is not null%}
						&nbsp;&nbsp;{{news.title}}&nbsp;&nbsp;
					{% else %}
						&nbsp;&nbsp;{{ 'home.welcome' | trans }}&nbsp;&nbsp;
					{% endif %}
					{% if news is not null%}
						<a class="other_news" href="{{ path('_home_next_news')~'?number='~news.number}}" title="Info suivante"><img style="margin-top:-10px;" src="{{ asset('bundles/lotofootv2/img/next.png') }}"  onmouseover="this.src='{{ asset('bundles/lotofootv2/img/next-hover.png') }}'" onmouseout="this.src='{{ asset('bundles/lotofootv2/img/next.png') }}'"/></a>
					{% endif %}
				</div>
			
			
			
		</div>
	</div>
{% endblock %}
	
{% block body %}
	<div class="row">
		<div class="container container-home">
			{% if news is not null%}
				{{ news.date|date("d/m/Y") }}
				{% autoescape false %}
					{{news.text}}
				{% endautoescape %}
			{% else %}
				 {{ 'home.nonews' | trans }}
			{% endif %}
		
	
	<br/>
	<div class="top-comment">
		<div class="titre-comment">
		<img src="{{ asset('bundles/lotofootv2/img/titre-comment.png') }}"/>
		</div>
	</div>
	<form action="{{ path('_home_news_postcomm') }}" method="POST">
       <textarea class="champs-comment" rows="3" name="text" maxlength="512"></textarea>
       <input class="btn-comment" type="submit" value="Ajouter"></input>
    </form>
    
	<div class="stop-float"><br/></div>
	{% if comms is defined and comms is not null %}
	   {% for comm in comms %}
		   
		   <div class="comment{{(loop.index%2+1)}}">
		      <span class="auteur-comment">{{comm.author}}({{app.request.get('acc_'~comm.author)}})</span> - <span class="date-comment">le {{comm.date | date("d/m/Y à H:i")}}</span><br/>
		      <img style="width: 36px" src="http://www.gravatar.com/avatar/{{ app.request.get('avatar_'~comm.author) }}?s=36&d={{ (app.request.getSchemeAndHttpHost()~asset('bundles/lotofootv2/img/default_avatar_36.png', null, true)) | url_encode }}"/>

               {{comm.text|replace({"\\'" : "'"})}}
		   </div>

	   {% endfor %}
	{% endif %}
	</div>
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
