{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">MON COMPTE&nbsp;
				<img src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="container container-home">
	{% if error is defined %}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    {% if u %}
        <div>Modification enregistrée</div>
        <br/>
    {% endif %}
	<br/><br/>
	<form action="{{ path('_profile_mail') }}" method="post">

		Mon pseudo : <strong>{{app.user.username}}</strong><br/>
		Mon email : <strong>{{app.user.email}}</strong>&nbsp;&nbsp;-&nbsp;&nbsp;Changer email : 
	
		<input type="text" id="_mail" name="mail" placeholder="Nouvel email"/><br/><br/>
		
		Je souhaite être averti par mail si je n'ai pas parié : &nbsp;&nbsp;
		Oui <input id="mailing" type="radio" name="mailing" value="Oui" checked="checked"/>&nbsp;&nbsp;
		Non <input id="mailing" type="radio" name="mailing" value="Non"/>&nbsp;&nbsp;<br/><br/>
		
		
		 <input type="submit" class="btn-admin" value="Mettre à jour"/><br/><br/>

	</form>
</div>		
</div>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
