{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Cadeaux Championnat 2014-2015&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-prizes.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
	<strong>ATTENTION :</strong>  <br/><br/>
	<ul>
		<li>Les cadeaux cités ci-dessous sont accessibles uniquement si vous avez participé à la cagnoute. </li>
		<li>Pour rappel, c'est 10€ par participant pour pouvoir convoiter le gros lot. </li>
		<li>Total du lot : 210€ + cadeaux (sur une base de 300€, comprenant 90€ alloués à la Champion's League)</li>
	</ul><br/><br/>
	<div class="bloc-letter">
				<div class="title-prizes">1er du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 100€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">2ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 50€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">3ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 25€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">4ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 15€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">5ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 10€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">6ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 10€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">7ème du Classement Général</div><br/>
				Un lot exceptionnel de 10 DvD exceptionnels ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-3.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">8ème du Classement Général</div><br/>
				Un Blender pour faire smoothies onctueux et autres soupes veloutées ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-4.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">9ème du Classement Général</div><br/>
				Un appareil à croque-monsieur pour devenir l'expert des croque-monsieurs ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-5.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">10ème du Classement Général</div><br/>
				La place du con.
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
