{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Cadeaux Championnat 2014-2015&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-prizes.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
	<strong>ATTENTION :</strong>  <br/><br/>
	<ul>
		<li>Les cadeaux cités ci-dessous sont accessibles uniquement si vous avez participé à la cagnoute. </li>
		<li>Pour rappel, c'est 10€ par participant pour pouvoir convoiter le gros lot. </li>
		<li>Total du lot : 210€ + cadeaux (sur une base de 300€, comprenant 90€ alloués à la Champion's League)</li>
	</ul><br/><br/>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">1er du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 40% de la Cagnoute ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">2ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 15% de la Cagnoute ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">3ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 10% de la Cagnoute ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">4ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 5% de la Cagnoute ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>

	<div class="row" style="padding:0 50px;">
				<div class="row underlined-title">5ème du Classement Général</div><br/>
				La place du con.
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
