{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Cadeaux Classement Général &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-prizes.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
{% endblock %}
	
{% block body %}
	<ul><strong>ATTENTION : <br/><br/></strong> 
		<li>Les cadeaux cités ci-dessous sont accessibles uniquement si vous avez participé à la cagnoute. </li>
		<li>Pour rappel, c'est 10€ par participant pour pouvoir convoiter le gros lot. </li>
		<li>Si les participations sont plus importantes que prévues. Les lots seront bien sûr augmentés.</li>
	</ul><br/><br/>
	<div class="bloc-letter">
				<div class="title-prizes">1er du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 150€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">2ème du Classement Général</div><br/>
				Un Chèque cadeau d'une valeur de 50€ ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-1.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">3ème du Classement Général</div><br/>
				Un lot exceptionnel de 10 DvD exceptionnels ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-3.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">4ème du Classement Général</div><br/>
				Un Blender pour faire smoothies onctueux et autres soupes veloutées ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-4.png') }}"/>
	</div>
	<div class="bloc-letter">
				<div class="title-prizes">5ème du Classement Général</div><br/>
				Un appareil à croque-monsieur pour devenir l'expert des croque-monsieurs ! <i>(Photo non contractuelle)</i><br/><br/>
				<img src="{{ asset('bundles/lotofootv2/img/prize-5.png') }}"/>
	</div>
	
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
