{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if  day is defined and day is not null %}
		<br/><br/>
		<div class="row">
			<div class="col-xs-1" style="padding:0">
				<a href="{{ path('_league_ranking_day')~'?prev='~day.number}}" title="Journée précédente"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-4 col-xs-10 title-body">
				Classement de la journée {{day.number}}	
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-xs-1" style="padding:0">
				<a href="{{ path('_league_ranking_day')~'?next='~day.number}}" title="Journée suivante"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
			</div>
		</div>
	{% endif %}
	
{% endblock %}

{% block body %}
	<br/><br/>
<div class="row">	
	{% if day is defined and day is not null %}
	
	<table id="ranking_table" class="table-striped vote">
		<thead>
		<tr>
			<th>Classement<br/> du jour <span class="caret"></span></th>
			<th>Joueur <span class="caret"></span></th>
			<th>Bonus <span class="caret"></span></th>
			<th>Scores <span class="caret"></span></th>
			<th>Resultats <span class="caret"></span></th>			
			<th>Points <span class="caret"></span></th>
			<th>Détail</th>
		</tr>
		</thead>
		<tbody>
		{% for history in histories %}
		<tr {% if history.accountId == app.user.id %} class="my-rank" {% endif %}>
			<td><span class="sort">{{loop.index}}</span></td>
			<td>{{app.request.get('acc_'~history.accountId)}} ({{history.rank}}e)</td>
			<td>{% if history.hasBonus %}
					<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
				{% endif %}
                {% if history.hasSelfBonus %}
                    <img src="{{ asset('bundles/lotofootv2/img/mstar.png') }}"/>
                {% endif %}
			</td>
			<td>{{history.scores}}</td>
			<td>{{history.results}}</td>
			<td>{{history.points}}</td>
			<td><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-help.png') }}" title="{{history.detailPoints}}" /></td>
		</tr>
		{% endfor %}
	</table>
	
	{% else %}
	
	Aucune journée à afficher.
	
	{% endif %}
</div>	
<script type="text/javascript">
$(document).ready(function() { 
    $("#ranking_table").tablesorter( {textExtraction: function(node){
        if($(node).children(".sort").length > 0){
        	   return $(node).children(".sort").text();
        }
        return node.innerHTML;
    }}); 
}); 
</script>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
