{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<a class="btn-admin" href="{{ path('_league_ranking')}}">Classement général</a>&nbsp;&nbsp;&nbsp;
		<a class="btn-admin" href="{{ path('_league_ranking_day')}}">Classement par journée</a>
	</div>
{% endblock %}

{% block body %}
	
	<table>
		<tr>
			<th>Rang</th>
			<th>Joueur</th>
			<th>Points</th>
			<th>Journées jouées</th>
			<th>Bonus trouvés</th>
			<th>Resultats trouvés</th>
			<th>Scores trouvés</th>
			<th>Evolution</th>
		</tr>
		{% for account in accounts %}
		<tr class="{% if account.id == app.user.id %}my-rank{% endif %} {% if loop.index == 16 %} cl-limit {% endif %}" >
			<td>
			{% if account.rank == 99 %}
				-
			{% else %}
				{{account.rank}}
			{% endif %}
			</td>
			<td>{{account.username}}</td>
			<td>{{account.points}}</td>
			<td>{{account.statDays}}</td>
			<td>{{account.statBonuses}}</td>
			<td>{{account.statResults}}</td>
			<td>{{account.statScores}}</td>
			<td>
				{% if account.progression > 0 %}
					<img src="{{ asset('bundles/lotofootv2/img/rank_up.png') }}" style="padding-top:5px;width:16px;float:left"/>
					+{{account.progression}}
				{% elseif account.progression < 0 %}
					<img src="{{ asset('bundles/lotofootv2/img/rank_down.png') }}" style="padding-bottom:5px;width:16px;float:left"/>
					{{account.progression}}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}