{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if  day is defined and day is not null %}
		<div class="title-body">

			<a class="prev" href="{{ path('_league_ranking_day')~'?prev='~day.number}}" title="Journée précédente"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
			
			<div class="ligne-body-left">&nbsp;</div>
			Classement de la journée {{day.number}}			
			<a class="next" href="{{ path('_league_ranking_day')~'?next='~day.number}}" title="Journée suivante"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>

			<div class="ligne-body-right">&nbsp;</div>
		</div>
	{% endif %}
	<div class="title-body">
		<a class="btn-admin" href="{{ path('_league_ranking')}}">Classement général</a>&nbsp;&nbsp;&nbsp;
		<a class="btn-admin" href="{{ path('_league_ranking_day')}}">Classement par journée</a>
	</div>
	
{% endblock %}

{% block body %}
	
	{% if day is defined and day is not null %}
	
	<table>
		<tr>
			<th>Classement<br/> du jour</th>
			<th>Joueur</th>
			<th>Bonus</th>
			<th>Scores trouvés</th>
			<th>Resultats trouvés</th>
			<th>Points</th>
		</tr>
		{% for history in histories %}
		<tr {% if history.accountId == app.user.id %} class="my-rank" {% endif %}>
			<td>{{loop.index}}</td>
			<td>{{app.request.get('acc_'~history.accountId)}} ({{history.rank}}e)</td>
			<td>{% if history.hasBonus %} Oui {% else %} Non {% endif %}</td>
			<td>{{history.scores}}</td>
			<td>{{history.results}}</td>
			<td>{{history.points}}</td>
		</tr>
		{% endfor %}
	</table>
	
	{% else %}
	
	Aucune journée à afficher.
	
	{% endif %}
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}