{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if leagueDay is defined and leagueDay is not null %}
		<div class="title-body">
			<a class="prev" href="{{ path('_league_vote')~'?prev='~leagueDay.number}}" title="Paris précédents"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
			<div class="ligne-body-left">&nbsp;</div>
			Journée {{leagueDay.number}}	
			<a class="next" href="{{ path('_league_vote')~'?next='~leagueDay.number}}" title="Derniers paris"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
			<div class="ligne-body-right">&nbsp;</div>
		</div>
	{% endif %}
{% endblock %}

{% block body %}
		
	{% if leagueDay is null %}
		Aucune journée créée !		
	{% else %}
		
		{% if app.user.rank == 1 %}
		<form action="{{ path('_league_vote_word') }}" method="post" style="width:800px;margin:auto">
			Vous êtes l'actuel EXPERT lotofoot :<br/>
			
			<div style="text-align: center">
			<textarea name="word" style="width:300px;height:50px">{{leagueDay.word}}</textarea>
			</div>
			<div class="control-group">
				<div class="controls">
					 <input type="submit" class="btn-vote" value="Diffuser"/>
				</div>
			</div>
			<div style="clear:both"></div>
		</form>
		
		{% else %}
		
		{% if leagueDay.word is not null %}
			
			<fieldset style="width: 600px; margin: auto; opacity: 1; background-color: #666666; color: white;">
				<legend style="color:black;background-color:white">Le mot de l'expert lotofoot</legend>
				"{{leagueDay.word}}"
			</fieldset>
		
		{% endif %}
		
		{% endif %}
		
		<br/>
		<div class="date-limite">Date limite pour voter à cette journée : 
			<span style="font-weight: bold">{{ leagueDay.deadline|date("d/m/Y H:i") }}</span>
			{% if error is defined %}
		    <div style="color:red">{{ error }}</div>
			{% endif %}
			{% if info is defined and info is not null %}
		    <div style="color:green">{{ info }}</div>
			{% endif %}
			{% if warn is defined and warn is not null %}
		    <div style="color:orange">{{ warn }}</div>
			{% endif %}
		</div>
		<br/><br/>
		
		<form action="{{ path('_league_vote_post') }}" method="post" style="width:800px;margin:auto">

			<table>
				<tr>
					<th>N°</th>
					<th>Domicile</th>
					<th>1</th>
					<th>N</th>
					<th>2</th>
					<th>Extérieur</th>
					<th>Score parié</th>
				</tr>
				{% for match in matches %}
				<tr {{(match.bonus)?'style="background-color:rgb(82,96,200);color:white;"':''}}>
					<td>
						{% if match.bonus == true %}
						<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
						{% endif %}
						{{match.number}}
						{% if match.bonus == true %}
						<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
						{% endif %}
					</td>
					<td>
						{{match.teamHome}}
					</td>
					<td><input id="result_{{match.id}}_1" type="radio" name="result_{{match.id}}" value="1"
						{% if app.request.get('result_'~match.id) == '1' %}checked{% endif %}/> </td>
					<td><input id="result_{{match.id}}_N" type="radio" name="result_{{match.id}}" value="N"
						{% if app.request.get('result_'~match.id) == 'N' %}checked{% endif %}/> </td>
					<td><input id="result_{{match.id}}_2" type="radio" name="result_{{match.id}}" value="2"
						{% if app.request.get('result_'~match.id) == '2' %}checked{% endif %}/> </td>
					
					<td>
						{{match.teamVisitor}}
					</td>
					<td>	
						<input id="score_{{match.id}}" type="text" autocomplete="off" name="score_{{match.id}}" value="{{ app.request.get('score_'~match.id) }}" size="3" maxlength="3" style="width:50px" placeholder="x-x"/>
					</td>
				</tr>
				{% endfor %}
			</table>
			
			<input type="button" class="btn-vote tooltip-on" value="Auto 1 N 2" data-title="Remplit automatiquement le resultat en fonction du score !" onclick="autoResult()"/>
			
			<div class="control-group">
				<div class="controls">
					 <input type="submit" class="btn-vote" value="Valider vos votes pour la journée !"/>
				</div>
			</div>
			<div style="clear:both"></div>
		</form>
	
	{% endif %}
	
	<script type="text/javascript">
	
	function autoResult(){
		if(confirm("Attention, cette action modifiera vos résultats selon le score parié")){
			$("[id^='score_']").each(function(){
				if($(this).val() != ""){
					var i = this.id.split("_")[1];
					var scores = $(this).val().split('-');
					if(scores[0] > scores[1]){
						$("#result_"+i+"_1").attr('checked', 'checked');
					}else if(scores[0] < scores[1]){
						$("#result_"+i+"_2").attr('checked', 'checked');
					}else if(scores[0] == scores[1]){
						$("#result_"+i+"_N").attr('checked', 'checked');
					}
				}
			});
		}
	}
		
	</script>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}