{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if leagueDay is defined and leagueDay is not null %}
		<div class="title-body">
			<a class="prev" href="{{ path('_league_vote')~'?prev='~leagueDay.number}}" title="Paris précédents"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
			<div class="ligne-body-left">&nbsp;</div>
			Journée {{leagueDay.number}}	
			<a class="next" href="{{ path('_league_vote')~'?next='~leagueDay.number}}" title="Paris suivants"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
			<div class="ligne-body-right">&nbsp;</div>
		</div>
	{% endif %}
{% endblock %}

{% block body %}
	Paris effectués : <br/>
	
	<style type="text/css">
		 .vote{
		 	background-color:rgb(55,46,50);
		 }
		 .result{
		 	background-color:gray;
		 }
		 .vote.result{
		 	background-color:green;
		 }
		 .vote.noresult{
		 	background-color:red;
		 }
		 td.invisible{
		 	border-left:none;
		 	border-right:none;
		 	border-bottom:none
		 }
		 .total{
		 	color:red;
		 	font-weight:bold
		 }
		 .scoreok{
		 	background-color:green;
		 	color:white;
		 }
	</style>

	<table class="table table-striped">
		<tr>
			<th>N°</th>
			<th>Domicile</th>
			<th>1</th>
			<th>N</th>
			<th>2</th>
			<th>Extérieur</th>
			<th>Score parié</th>
			<th>Score effectif</th>
			<th>Points</th>
		</tr>
		{% for match in matches %}
		<tr {{(match.bonus)?'style="background-color:rgb(82,96,200);color:white;"':''}}>
					<td>
						{% if match.number == 13 %}
						<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
						{% endif %}
						{{match.number}}
						{% if match.number == 13 %}
						<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
						{% endif %}
					</td>
			<td>
				{{match.teamHome}}
			</td>
			<td class="{% if app.request.get('result_'~match.id) == '1'%} vote {%endif%} {% if leagueDay.corrected %}{%if match.result == '1'%} result {%else %} noresult {%endif%}{%endif%}"></td>
			<td class="{% if app.request.get('result_'~match.id) == 'N'%} vote {%endif%} {% if leagueDay.corrected %}{%if match.result == 'N'%} result {%else %} noresult {%endif%}{%endif%}"></td>
			<td class="{% if app.request.get('result_'~match.id) == '2'%} vote {%endif%} {% if leagueDay.corrected %}{%if match.result == '2'%} result {%else %} noresult {%endif%}{%endif%}"></td>
			<td>
				{{match.teamVisitor}}
			</td>
			<td class="{% if app.request.get('score_'~match.id) == match.score%} scoreok {% endif %}">
				{{app.request.get('score_'~match.id)}}
			</td>
			<td>
				{{match.score}}
			</td>
			<td>
				{{app.request.get('points_'~match.id)}}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td><span class="total">Total</span></td>
			<td><span class="total">{{total}}</span></td>
		</tr>
	</table>
	<br/>
{% endblock %}
