{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if leagueDay is defined and leagueDay is not null %}
	<br/><br/>
	<div class="row">
		<div class="col-xs-1" style="padding:0">
			<a href="{{ path('_league_vote')~'?prev='~leagueDay.number}}" title="Paris précédents"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
		</div>
		<div class="col-sm-3 hidden-xs">
			<div class="ligne-body">&nbsp;</div>
		</div>
		<div class="col-sm-4 col-xs-10 title-body">
			Journée {{leagueDay.number}}
		</div>
		<div class="col-sm-3 hidden-xs">
			<div class="ligne-body">&nbsp;</div>
		</div>
		<div class="col-xs-1" style="padding:0">
			<a href="{{ path('_league_vote')~'?next='~leagueDay.number}}" title="Derniers paris"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
		</div>

	</div>
	{% endif %}
{% endblock %}

{% block body %}

<style type="text/css">
    .resultVoted{
        background-color : gray !important;
    }
</style>
        


	<div class="row">
	{% if leagueDay is null %}
		Aucune journée créée !		
	{% else %}
		
		
			{% if leagueDay.word == "" %}
				{% if is_king == true %}
					<form action="{{ path('_league_vote_word') }}" method="post" class="form-punchline">
						
						<img src="{{ asset('bundles/lotofootv2/img/rewards/r1.png') }}"/> &nbsp;&nbsp;&nbsp;<strong>Bravo!</strong><br/> Vous êtes le meilleur joueur de la dernière journée, vous pouvez adresser une punchline qui sera affichée à tous les autres parieurs (max 150 caractères):<br/><br/>
						
						<div class="row" style="margin:0!important; text-align:center;">
							<textarea name="word" style="width:100%;height:50px;" maxlength="150">{{leagueDay.word}}</textarea>					
							<input type="submit" class="btn-admin" value="Publier"/>
						</div>

					</form>
				{% endif %}
			{% else %}
			
				{% if leagueDay.word is not null %}
					<div class="row">
						<fieldset class="form-punchline">
							<legend class="king-punchline-legend">&nbsp;La PunchLine du KING&nbsp;</legend>
							<blockquote style="padding:0 20px; margin:0; font-style:italic;" >&ldquo; {{leagueDay.word}} &rdquo;</blockquote><br/>
							<span class="king-punchline-sign">- {{leagueDay.kingTag}} -</span>
						</fieldset>
					</div>
				{% endif %}
		{% endif %}	
		<br/>
		<div class="row" style="text-align:center;">Date limite pour voter à cette journée : 
			<span style="font-weight: bold">
				{% if nextDeadline is defined and nextDeadline is not null %}
				     {{ nextDeadline|date("d/m/Y H:i") }}
				{% else %}
				     {{ leagueDay.deadline|date("d/m/Y H:i") }}
				{% endif %}
			&nbsp;&nbsp;&nbsp;</span>
			<input type="button" class="btn-admin tooltip-on" value="Auto 1 N 2" data-title="Remplit automatiquement le resultat en fonction du score !" onclick="autoResult()"/>
			
			{% if error is defined %}
		    <div style="color:red">{{ error }}</div>
			{% endif %}
			{% if info is defined and info is not null %}
		    <div style="color:green">{{ info }}</div>
			{% endif %}
			{% if warn is defined and warn is not null %}
		    <div style="color:orange">{{ warn }}</div>
			{% endif %}
		</div>
		<br/><br/>
		
		<div class="row">
			<form action="{{ path('_league_vote_post') }}" method="post">
	
				<table class="table-striped vote">
					<tr>
						<th>N°</th>
						<th>Domicile</th>
						<th>1</th>
						<th>N</th>
						<th>2</th>
						<th>Extérieur</th>
						<th>Score parié</th>
                        <th>Clôture</th>
					</tr>
					{% for match in matches %}
					<tr {{(match.bonus)?'class="bonus"':''}}>
						<td>
							{% if match.bonus == true %}
							<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
							{% endif %}
							{{match.number}}
							{% if match.bonus == true %}
							<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
							{% endif %}
						</td>
						<td>
							{{match.teamHome}}
						</td>
						<!-- deadline past -->
	                    {% if match.deadline > date() %}
	                    <td><input id="result_{{match.id}}_1" type="radio" name="result_{{match.id}}" value="1"
	                        {% if app.request.get('result_'~match.id) == '1' %}checked{% endif %}/> </td>
	                    <td><input id="result_{{match.id}}_N" type="radio" name="result_{{match.id}}" value="N"
	                        {% if app.request.get('result_'~match.id) == 'N' %}checked{% endif %}/> </td>
	                    <td><input id="result_{{match.id}}_2" type="radio" name="result_{{match.id}}" value="2"
	                        {% if app.request.get('result_'~match.id) == '2' %}checked{% endif %}/> </td>
	                    {% else %}
	                        <td {% if app.request.get('result_'~match.id) == '1' %} class="resultVoted" {%endif%}>&nbsp;</td>
	                        <td {% if app.request.get('result_'~match.id) == 'N' %} class="resultVoted" {%endif%}>&nbsp;</td>
	                        <td {% if app.request.get('result_'~match.id) == '2' %} class="resultVoted" {%endif%}>&nbsp;</td>
	                    {% endif %}
						<td>
							{{match.teamVisitor}}
						</td>
						<td>
						{% if match.deadline > date() %}
						      <input id="score_{{match.id}}" type="text" autocomplete="off" name="score_{{match.id}}" value="{{ app.request.get('score_'~match.id) }}" size="3" maxlength="3" style="width:50px;color:#333;text-align:center;" placeholder="x-x"/>
						{% else %}
							{{ app.request.get('score_'~match.id) }}
					     {% endif %}
						</td>
						<td>
                            {{match.deadline|date("d/m/Y H:i")}}
                        </td>
					</tr>
					{% endfor %}
				</table>

				<div class="row"  style="text-align:center;">
					<input type="submit" class="btn-admin" value="Valider vos votes pour la journée !" onclick="sub=true"/>
				</div>
				
			</form>
		</div>
	{% endif %}
	</div>	
	<script type="text/javascript">
	
	function autoResult(){
		if(confirm("Attention, cette action modifiera vos résultats selon le score parié")){
			$("[id^='score_']").each(function(){
				if($(this).val() != ""){
					var i = this.id.split("_")[1];
					var scores = $(this).val().split('-');
					if(scores[0] > scores[1]){
						$("#result_"+i+"_1").attr('checked', 'checked');
					}else if(scores[0] < scores[1]){
						$("#result_"+i+"_2").attr('checked', 'checked');
					}else if(scores[0] == scores[1]){
						$("#result_"+i+"_N").attr('checked', 'checked');
					}
				}
			});
		}
	}

	var sub = false;
    var changed = false;
	
    $("table.vote td input").on('change', function(){
        changed = true;
    });

    window.onbeforeunload = function(){
        console.log(changed, sub)
        if(changed && !sub){
            return "Attention, des modifications n'ont pas été enregistrées";
        }
    }; 
	
	</script>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}