{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	{% if leagueDay is defined and leagueDay is not null %}
		<div class="row">
			<div class="col-xs-1" style="padding:0">
				<a href="{{ path('_league_vote')~'?prev='~leagueDay.number}}" title="Paris précédents"><img src="{{ asset('bundles/lotofootv2/img/prev.png') }}"/></a>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-4 col-xs-10 title-body">
				Journée {{leagueDay.number}}
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-xs-1" style="padding:0">
				<a href="{{ path('_league_vote')~'?next='~leagueDay.number}}" title="Derniers paris"><img src="{{ asset('bundles/lotofootv2/img/next.png') }}"/></a>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block body %}
	
	<style type="text/css">	
		 


	</style>
	
	{% if leagueDay.corrected == false %}
		<div style="text-align:center;color:red">
			<b>La journée est en attente de correction</b><br/><br/>
		</div>
	{% endif %}
	
	{% if leagueDay.word is not null and leagueDay.word != '' %}
					
		<div class="row">
			<fieldset class="form-punchline">
				<legend class="king-punchline-legend">&nbsp;La PunchLine du KING&nbsp;</legend>
				<blockquote style="padding:0 20px; margin:0; font-style:italic;" >&ldquo; {{leagueDay.word}} &rdquo;</blockquote><br/>
				<span class="king-punchline-sign">- {{leagueDay.kingTag}} -</span>
			</fieldset>
		</div>
	{% endif %}
	<br/>
	<div class="row">
	<table class="table-striped vote {% if leagueDay.corrected == false %} notcorrected {% endif %}">
		<tr>
			<th>N°</th>
			<th>Domicile</th>
			<th>1</th>
			<th>N</th>
			<th>2</th>
			<th>Extérieur</th>
			<th>Score parié</th>
			<th>Score effectif</th>
			<th>Points</th>
		</tr>
		{% for match in matches %}
		<tr {{(match.bonus)?'class="bonus"':''}}>
					<td>
						{% if match.bonus == true %}
						    <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
						{% endif %}
                        {% if app.request.get('selfbonus') == match.id  %}
                            <img src="{{ asset('bundles/lotofootv2/img/mstar.png') }}"/>
                        {% endif %}
						{{match.number}}
                        {% if match.bonus == true %}
                            <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
                        {% endif %}
                        {% if app.request.get('selfbonus') == match.id  %}
                            <img src="{{ asset('bundles/lotofootv2/img/mstar.png') }}"/>
                        {% endif %}
					</td>
			<td>
				{{match.teamHome}}
			</td>
			<td class="{% if app.request.get('result_'~match.id) == '1'%} voted {%endif%} {% if leagueDay.corrected %}{%if match.result == '1' and app.request.get('result_'~match.id) == '1'%} scoreok {%else %} noresult {%endif%}{%endif%}"></td>
			<td class="{% if app.request.get('result_'~match.id) == 'N'%} voted {%endif%} {% if leagueDay.corrected %}{%if match.result == 'N' and app.request.get('result_'~match.id) == 'N'%} scoreok {%else %} noresult {%endif%}{%endif%}"></td>
			<td class="{% if app.request.get('result_'~match.id) == '2'%} voted {%endif%} {% if leagueDay.corrected %}{%if match.result == '2' and app.request.get('result_'~match.id) == '2'%} scoreok {%else %} noresult {%endif%}{%endif%}"></td>
			<td>
				{{match.teamVisitor}}
			</td>
			<td class="{% if app.request.get('score_'~match.id) == match.score%} scoreok {% endif %}">
				{{app.request.get('score_'~match.id)}}
			</td>
			<td>
				{{match.score}}
			</td>
			<td>
				{{app.request.get('points_'~match.id)}}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="invisible"></td>
			<td class="total">Total</td>
			<td class="total">{{total}}</td>
		</tr>
	</table>
	</div>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
