{% if error is defined %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}

<style type="text/css">
	table.table input{
		margin:0
	}
</style>

{% if closed == true %}

	<div class="alert alert-info">
		<span class="center">Les votes sont clos ! La journée peut être corrigée</span>
	</div>										
	
	{% else %}
	
	<div style="border : 1px solid red">
		Les votes sont toujours en cours !
	</div>
	<br/>
	
	Nombre de votants : {{ hasVoted | length }} / {{ (hasVoted | length) + (hasNotVoted | length) }}
	
	<br/><hr/>
	<div>
		<div style="float:left">
			Les joueurs suivants n'ont pas voté (ou pas totalement) :
			<ul>
				{% for a in hasNotVoted %}
					<li>{{a.username}}</li>
				{% endfor %}
			</ul>
		</div>
		<div style="float:right">
			Les joueurs suivants ont voté pour tout :
			<ul>
				{% for a in hasVoted %}
					<li>{{a.username}}</li>
				{% endfor %}
			</ul>
		</div>
		<div style="clear:both"> </div>
	</div>
	<br/><hr/>
	Mail à envoyer à : <br/>
	{% for a in hasNotVoted %}
		{{a.email}};
	{% endfor %}
	
{% endif %}
<br/>
{% if closed == true %}
	
	<div class="alert alert-info">Pour un match annulé, entrer X-X dans score</div>
	
	<form action="{{ path('_admin_league_day_mark') }}" method="post" style="width:800px;margin:auto">
	
		<table class="table table-striped">
			<tr>
				<th>
					N°
				</th>
				<th>
					Domicile
				</th>
				<th>
					Score
				</th>
				<th>
					Extérieur
				</th>
			</tr>
			{% for match in matches %}
			<tr>
				<td>
					{% if match.bonus == true %}
					<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
					{% endif %}
					{{match.number}}
					{% if match.bonus == true %}
					<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
					{% endif %}
				</td>
				<td>
					{{match.teamHome}}
				</td>
				<td>
					<input type="text" name="score_{{match.id}}" size="3" autocomplete="off"  style="border:0px" value="{{app.request.get('score_'~match.id)}}"/>															
				</td>
				<td>
					{{match.teamVisitor}}
				</td>
			</tr>
			{% endfor %}
		</table>

		<input type="submit" name="Valider" class="btn-admin center"/>										
	
	</form>
	
{% endif %}