{% if error is defined %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}


{% if closed == true %}

	<div class="alert alert-info">Les votes sont clos ! La journée peut être corrigée</div>
								
	
	{% else %}
	
	<div class="alert alert-info">
		Les votes sont toujours en cours !
	</div>
	<br/>
	
	Nombre de votants : {{ hasVoted | length }} / {{ (hasVoted | length) + (hasNotVoted | length) }}
	
	<br/><hr/>
	<div>
		<div style="float:left;padding-left:10%">
			Les joueurs suivants n'ont pas voté (ou pas totalement) :
			<ul>
				{% for a in hasNotVoted %}
					<li>{{a.username}}</li>
				{% endfor %}
			</ul>
		</div>
		<div style="float:right;padding-right:10%">
			Les joueurs suivants ont voté pour tout :
			<ul>
				{% for a in hasVoted %}
					<li>{{a.username}}</li>
				{% endfor %}
			</ul>
		</div>
		<div style="clear:both"> </div>
	</div>
	<br/><hr/>
	<div class="row" style="text-align:left;padding:0 10%;">
	<strong>Mail à envoyer à :</strong> <br/>
	{% for a in hasNotVoted %}
		{{a.email}};
	{% endfor %}<br/><br/>
	<strong>Copie à :</strong><br/>
	lotofootmail@gmail.com<br/><br/>
	<strong>Objet :</strong>  <br/>
	[Lotofoot] Rappel Journée {{leagueDay.number}}<br/><br/>
	<strong>Message :</strong>  <br/>
	<img src="{{ asset('bundles/lotofootv2/img/logo-ballon2.png') }}" style="float:left; padding: 10px;"> <strong>Attention !</strong><br/> Petit rappel : tu n'as pas encore voté pour la <strong>Journée n°{{leagueDay.number}}</strong>!<br/>
	Il ne reste que quelques heures avant la date limite : <strong>{{ leagueDay.deadline|date("d/m/Y H:i") }}</strong>! <br/><br/>
	Un seul lien : <strong><a href="http://www.topich.fr/lotofoot">http://www.topich.fr/lotofoot</a></strong><br/><br/>
	
	<strong>L'équipe Lotofoot !</strong>
	<br/><br/>
	</div>

     <hr/>

        Mise à jour des dates de fin de vote :<br/>

        <form action="{{ path('_admin_league_day_update') }}" method="post">

            <table class="table-striped vote">
                <tr>
                    <th>
                        N°
                    </th>
                    <th>
                        Domicile
                    </th>
                    <th>
                        Extérieur
                    </th>
                    <th>
                        Deadline
                    </th>
                </tr>
                {% for match in matches %}
                    <tr {{(match.bonus)?'class="bonus"':''}}>
                        <td>
                            {% if match.bonus == true %}
                                <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
                            {% endif %}
                            {{match.number}}
                            {% if match.bonus == true %}
                                <img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
                            {% endif %}
                        </td>
                        <td>
                            {{match.teamHome}}
                        </td>
                        <td>
                            {{match.teamVisitor}}
                        </td>
                        <td>
                            <input class="inputday" type="text" name="deadline_{{match.id}}" value="{{ match.deadline |date("d/m/Y") }}" placeholder="jj/mm/aaaa" style="border:0px; width:200px;color:black" autocomplete="off"/>
                            <input class="inputhour" type="text" name="deadlineh_{{match.id}}" value="{{ match.deadline |date("H:i") }}" placeholder="hh:mm" style="border:0px; width:100px;color:black" autocomplete="off"/>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" name="Valider" class="btn-admin center"/>

        </form>


{% endif %}
<br/><br/>
{% if closed == true %}
	
	<div class="alert alert-info">Pour un match annulé, entrer X-X dans score</div>
	<br/><br/>
	
	<form action="{{ path('_admin_league_day_mark') }}" method="post">
	
		<table class="table-striped vote">
			<tr>
				<th>
					N°
				</th>
				<th>
					Domicile
				</th>
				<th>
					Score
				</th>
				<th>
					Extérieur
				</th>
			</tr>
			{% for match in matches %}
			<tr {{(match.bonus)?'class="bonus"':''}}>
				<td>
					{% if match.bonus == true %}
					<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
					{% endif %}
					{{match.number}}
					{% if match.bonus == true %}
					<img src="{{ asset('bundles/lotofootv2/img/star.png') }}"/>
					{% endif %}
				</td>
				<td>
					{{match.teamHome}}
				</td>
				<td>
					<input type="text" name="score_{{match.id}}" size="3" autocomplete="off"  style="border:0; color:rgb(55,46,50);" value="{{app.request.get('score_'~match.id)}}"/>															
				</td>
				<td>
					{{match.teamVisitor}}
				</td>
			</tr>
			{% endfor %}
		</table>

		<input type="submit" name="Valider" class="btn-admin center"/>										
	
	</form>
	
{% endif %}