{% if error is defined %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}

<style type="text/css">
	table.table input{
		margin:0
	}
</style>

<form action="{{ path('_admin_league_day_new') }}" method="post" style="width:800px;margin:auto">

	<table class="table table-striped">
		<tr>
			<th>
				N°
			</th>
			<th>
				Domicile
			</th>
			<th>
				Extérieur
			</th>
			<th>
                Deadline
            </th>
			<th>
				Bonus
			</th>
		</tr>
		{% for i in 1..13 %}
		<tr>
			<td>
				{{i}}
			</td>
			<td>
				<input type="text" name="home_{{i}}" value="{{ app.request.get('home_'~i) }}" style="border:0px"/>
			</td>
			<td>
				<input type="text" name="visitor_{{i}}" value="{{ app.request.get('visitor_'~i) }}" style="border:0px"/>
			</td>
            <td>
                <input type="text" name="deadline_{{i}}" value="{{ app.request.get('deadline_'~i) }}" placeholder="jj/mm/aaaa" style="border:0px; width:70px;"/>
                <input type="text" name="deadlineh_{{i}}" value="{{ app.request.get('deadlineh_'~i) }}" placeholder="HH:mm" style="border:0px; width:50px;"/>
            </td>
			<td>
				<input type="checkbox" name="bonus_{{i}}" {{app.request.get('bonus_'~i) == 'on' ? 'checked' : ''}}/>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br/>
	<div class="control-group">
		<div class="controls">
			 <input type="submit" class="btn-admin" value="Lancer !"/>
		</div>
	</div>

</form>