<div class="container">
	<div class="footer-block">
		<div class="footer-col">
		<span class="footer-title">Championnat</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">Parier</a></li>
				<li><a class="footer-lien" href="#">Classement</a></li>
				<li><a class="footer-lien" href="{{ path('_rules') }}" title="Règlement du championnat">Règlement</a></li>
				<li><a class="footer-lien" href="{{ path('_prizes') }}" title="Cadeaux Championnat 2013-2014">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"></div>
		<div class="footer-col">
		<span class="footer-title">Champion's League</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="#">Parier</a></li>
				<li><a class="footer-lien" href="#">Classement</a></li>
				<li><a class="footer-lien" href="#">Règlement</a></li>
				<li><a class="footer-lien" href="#">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"> </div>
		<div class="footer-col">
			<span class="footer-title"><a class="footer-lien" href="{{ path('_calendar') }}" title="Le calendrier des journées à venir">Calendrier</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_forum') }}" title="Venez Zlataner !">Forum</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_stats_teams') }}" title="Les différentes stats des équipes">Statistiques</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="#">Nous contacter</a></span>
		</div>
	</div>
</div>