

<div class="container">
	<div class="footer-block">
		<div class="footer-col">
		<span class="footer-title">Championnat</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">Parier</a></li>
				<li><a class="footer-lien" href="#">Classement</a></li>
				<li><a class="footer-lien" href="{{ path('_league_rules') }}" title="Règlement du championnat">Règlement</a></li>
				<li><a class="footer-lien" href="{{ path('_league_prizes') }}" title="Cadeaux Championnat 2013-2014">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"></div>
		<div class="footer-col">
		<span class="footer-title">Champion's League</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="{{ path('_cl_coming') }}">Parier</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_coming') }}">Classement</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_coming') }}">Règlement</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_coming') }}">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"> </div>
		<div class="footer-col3">
			<span class="footer-title"><a class="footer-lien" href="{{ path('_calendar') }}" title="Le calendrier des journées à venir">Calendrier</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<script src="http://webdezign.tutoriaux.free.fr/services/compteur_page.php?client=65797&Af=4"></script></span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_forum') }}" title="Venez Zlataner !">Forum</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_stats_teams') }}" title="Les différentes stats des équipes">Statistiques</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="#">Nous contacter</a></span>
		</div>
	</div>
	
	<script type="text/javascript">
		$('.tooltip-on').tooltip();
	</script>
</div>