

<div class="container">
	<div class="footer-block">
		<div class="footer-col">
		<span class="footer-title">Championnat</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">Parier</a></li>
				<li><a class="footer-lien" href="#">Classement</a></li>
				<li><a class="footer-lien" href="{{ path('_league_rules') }}" title="Règlement du championnat">Règlement</a></li>
				<li><a class="footer-lien" href="{{ path('_league_prizes') }}" title="Cadeaux Championnat 2013-2014">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"></div>
		<div class="footer-col">
		<span class="footer-title">Champion's League</span>
			<ul class="footer-ul">								
				<li><a class="footer-lien" href="{{ path('_cl_vote') }}">Parier</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_board') }}">Tableau</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_rules') }}">Règlement</a></li>
				<li><a class="footer-lien" href="{{ path('_cl_prizes') }}">Cadeaux</a></li>
			</ul>
		</div>
		
		<div class="footer-separate"> </div>
		<div class="footer-col3">
			<span class="footer-title"><a class="footer-lien" href="{{ path('_calendar') }}" title="Le calendrier des journées à venir">Calendrier</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_forum') }}" title="Venez Zlataner !">Forum</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="{{ path('_stats_teams') }}" title="Les différentes stats des équipes">Statistiques</a></span><br/>
			<span class="footer-title"><a class="footer-lien" href="mailto:lotofoot.mail@gmail.com">Nous contacter</a></span>
		</div>
	</div>
	
	<script type="text/javascript">
		$('.tooltip-on').tooltip();
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	
	  _gaq.push(['_setAccount', 'UA-20687297-1']);
	
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

</div>