<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>

        <title>Lotofoot !</title>
		
		<link rel="shortcut icon" type="image/ico" href="{{ asset('bundles/lotofootv2/favicon.ico') }}"/>
	    <link rel="stylesheet" href="{{ asset('bundles/lotofootv2/css/lotofoot2.css') }}" />
	    <link rel="stylesheet" href="{{ asset('bundles/lotofootv2/css/bootstrap.min.css') }}" />
	    <script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/jquery-1.8.1.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/lotofootv2/js/lib/bootstrap.min.js')}}"></script>
    </head>
    <body {%if bg_cl is defined and bg_cl == true %} class="body-cl" {% endif %}>
        {% block navibar %}
		{% endblock %}
    <div class="container">
		<div class="bg-transparent">
	    	{% block menu %}
			{% endblock %}
	    
	        <div id="content">
				{% block title_body %}
				{% endblock %}
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
	
		{% block footer %}
		{% endblock %}
		
	</body>
</html>