{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
 {% extends 'Lotofootv2Bundle::layout_login.html.twig' %}

{% block title %}
	Connexion au Lotofoot !
{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div>
                <!-- errors -->
	                {% if error %}
	                <div class="error">{{ error.message }}</div>
		            {% endif %}
		            {% if registered %}
		                <div>Votre inscription a bien été prise en compte et votre compte est en cours d'activation par les administrateurs</div>
		                <br/>
		            {% endif %}
		            {% if recovered %}
		                <div>Votre mot de passe vient de vous être envoyé par email</div>
		                <br/>
		            {% endif %}
	            </div>
	            <!-- box -->
	            <!-- top -->
	            <div style="text-align: center">
	               <img src="{{ asset('bundles/lotofootv2/img/login-logo.jpg')}}" class="img-responsive" style="display:inline;width:100%"/>
	            </div>
	            <!-- bottom -->
	            <div class="login_form_class" style="background: none repeat scroll 0 0 rgb(64, 55, 59);box-shadow: 6px 6px 20px black;color: rgb(255, 255, 255);border:2px solid white;border-top:0">
	               <form action="{{ path('_login_check') }}" method="post" class="">
	                   <div class="row" style="height: 100%;display: table-row;">
	                       <div class="col-sm-6" style="display: table-cell;float: none;">
				                <div class="form-group">
								    <label class="control-label" for="_username">Pseudo</label>
								    <input type="text" id="_username" name="_username" value="{{last_username}}" placeholder="Nom d'utilisateur" class="form-control input-sm"/>
								</div>
								<div class="form-group">
		                            <label class="control-label" for="_pass">Mot de passe </label>
		                            <input type="password" id="_password" name="_password" class="form-control input-sm" />
		                        </div>
			           
			                    <input type="hidden" name="_target_path" value="/home" />
			                </div>
			                <div class="col-sm-6" style="display: table-cell;float: none;vertical-align: bottom;">
			                    <button class="btn btn-default" type="submit" class="btn" value="">Connexion au LotoFoot</button>
			                     <div class="row">
                                   <div class="col-lg-6" style="padding:0">
                                       <a class="lien-login"  href="{{path('_register')}}">Créer un compte</a>
                                   </div>
                                   <div class="col-lg-6" style="padding:0">
                                       <a class="lien-login" href="{{path('_password_lost')}}">Mot de passe oublié</a>
                                   </div>
                                </div>
			                </div>
			            </div>
		            </form>
	            </div>
            </div>
        </div>
	</div>
{% endblock %}