{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block title %}
	Connexion au Lotofoot !
{% endblock %}

{% block body %}
	<div class="login-box">
		<div class="login-top">
		</div>
		<div class="login-bottom">
			
			{% if error %}
		        <div class="error">{{ error.message }}</div>
		    {% endif %}
			
			<form action="{{ path('_login_check') }}" method="post" class="form form-horizontal">
				<div class="control-group">
					<label class="control-label" for="_username">
						 Pseudo 
					</label>
					<div class="login-controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon-user"></i>
							</span>
							 <input type="text" id="_username" name="_username" value="{{last_username}}" placeholder="Nom d'utilisateur"/>
						 </div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="_username">
						 Mot de passe 
					</label>
					<div class="login-controls">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon-lock"></i>
							</span>
							 <input type="password" id="_password" name="_password"/>
						 </div>
					</div>
				</div>
			
			    <input type="hidden" name="_target_path" value="/home" />
				
				<div class="control-group">
					<div class="login-controls">
						<button type="submit" class="btn" value="">Connexion</button>	
					</div>

					<div class="login-controls">
						<a class="btn" href="{{path('_register')}}">Créer un compte</a>	
					</div>
					
					<div class="login-controls">
						<a class="btn" href="{{path('_register')}}">Mot de pass oublié</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}