{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
 {% extends 'Lotofootv2Bundle::layout_login.html.twig' %}

{% block title %}
	Connexion au Lotofoot !
{% endblock %}

{% block body %}
	<div class="login-box">
		<div class="login-top">
		</div>
		<div class="login-bottom">
			
			{% if error %}
		        <div class="error">{{ error.message }}</div>
		    {% endif %}
			
			<form action="{{ path('_login_check') }}" method="post" class="form-login">
				<div class="control-group">
					<label class="control-label" for="_username">
						 Pseudo 
					</label>
					<div class="login-controls">
						<div class="input-prepend">
							 <input type="text" id="_username" name="_username" value="{{last_username}}" placeholder="Nom d'utilisateur"/>
						 </div>
					</div>
					<label class="control-label" for="_username">
						 <br/>Mot de passe 
					</label>
					<br/>
					<div class="login-controls">
						<div class="input-prepend">
							 <input type="password" id="_password" name="_password"/>
						 </div>
					</div>
				</div>
			
			    <input type="hidden" name="_target_path" value="/home" />
				
				<div class="control-group">
				<br/>
					<div class="login-controls">
						<button class="btn-admin" type="submit" class="btn" value="">Connexion au LotoFoot</button>	
					</div>
					<br/>
					<div class="login-controls">
						<a class="lien-login"  href="{{path('_register')}}">Créer un compte</a>	<a class="lien-login"  href="{{path('_register')}}">Password oublié</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}