<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='menu_index.js' type='text/javascript'></script>




<div class="navibar">
	<div class="container">
		<span class="navibar-element">Hello {{ app.user.username }}</span>
		<span class="navibar-element">Classement : {{ app.user.rank }}</span>
		<span class="navibar-element">Score : {{ app.user.points }}</span>
		<div class="logo-disconnect"></div>
	</div>	
</div>	


<div class="container">
	<div class="bg-transparent">
		<div class="logo-ballon">
		</div>
		<div class="menu-content">
			<div class="logo-lotofoot">
			</div>
			<ul class="menu-navigation">
			  <a href="{{ path('_home') }}" title="Aller à la page d'accueil"><li class="menu-1-accueil"></li></a>
			  <li class="menu-2-championnat"><span></span>
			    <ul class="submenu-2-championnat">
			      <li class="submenu"><a href="{{ path('_league_vote') }}" title="Parier"></a>Parier</li>
			      <li class="submenu"><a href="#" title="Classement"></a>Classement</li>
			      <li class="submenu"><a href="#" title="Règlement"></a>Règlement</li>
			      <li class="submenu"><a href="#" title="Cadeaux"></a>Cadeaux</li>
			    </ul>
			    </li>
			    <li class="menu-3-championsleague">
			      <ul class="submenu-3-championsleague">
			       <li class="submenu"><a href="#" title="Parier"></a>Parier</li>
			      <li class="submenu"><a href="#" title="Classement"></a>Classement</li>
			      <li class="submenu"><a href="#" title="Règlement"></a>Règlement</li>
			      <li class="submenu"><a href="#" title="Cadeaux"></a>Cadeaux</li>
			      </ul>
			    </li>
			    <li class="menu-4-calendar"><a href="#" title=""></a></li>
			    <li class="menu-5-forum"><a href="#" title=""></a></li>
			    <li class="menu-6-stats"><a href="#" title=""></a></li>
			    <ul class="submenu-6-stats">
				    <li class="submenu"><a href="#" title="Équipes"></a>Équipes</li>
			      	<li class="submenu"><a href="#" title="Récompenses"></a>Récompenses</li>
				</ul>
			    
			</ul>
		</div>		
		
		
		
		
		<br/><br/>
			<div class="navbar-inner">
			<ul class="nav">
				
				<li class="big-icon">
					<a href="{{ path('_league_vote') }}">
						<img src="{{ asset('bundles/lotofootv2/img/menu/home.png') }}"></img> <br/>
						Voter !
					</a>
				</li>
			</ul>
			
			
			<ul class="nav nav pull-right">
			
				{% if is_granted('ROLE_ADMIN') %}
				<li class="divider-vertical"></li>
				<li class="dropdown big-icon">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<img src="{{ asset('bundles/lotofootv2/img/menu/admin.png') }}"/> <br/>
						Administration
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('_admin_league') }}">
								Administrer la league
							</a>
						</li>
						<li>
							<a href="{{ path('_admin_league_day') }}">
								Administrer la journée
							</a>
						</li>
					</ul>
				</li>

				{% endif %}
				
				<li class="divider-vertical"></li>
				<li style="text-align:left">
					<a href="#">
						<i class="icon-user" ></i> Mon compte
					</a>
					<a href="{{ path('_logout') }}"><i class="icon-chevron-right" ></i> Déconnexion </a>
				</li>
				
			</ul>
		</div>
	</div>
</div>