<script type="text/javascript" src="{{asset('bundles/lotofootv2/js/menu.js')}}"></script> 


<div class="logo-ballon">
</div>
<div class="menu-content">
	<div class="logo-lotofoot">
	</div>
	<ul class="menu-navigation">
	  <li class="menu-1-accueil"><a href="{{ path('_home') }}" title="Aller à la page d'accueil"><img src="{{ asset('bundles/lotofootv2/img/menu-1-accueil.png') }}"/></a></li>
	  <li class="menu-2-championnat">
	    <ul class="submenu-2-championnat" style="display:none">
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">Parier</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_ranking') }}" title="Classement">Classement</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_rules') }}" title="Règlement du championnat">Règlement</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_prizes') }}" title="Cadeaux Championnat 2013-2014">Cadeaux</a></li>
	      {% if is_granted('ROLE_ADMIN') %}
	      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_league') }}" title="Administrer un championnat">Admin Ligue</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_league_day') }}" title="Administrer une journée de championnat">Admin Journée</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_news') }}" title="Administrer les news">Admin News</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_users') }}" title="Administrer les utilisateurs">Admin Utilisateurs</a></li>
	      {% endif %}
	    </ul>
	    </li>
	    <li class="menu-3-championsleague">
	      <ul class="submenu-3-championsleague" style="display:none">
		      <li class="submenu"><a class="menu-lien" href="{{ path('_cl_vote') }}" title="Parier sur la prochaine journée de Champion's League">Parier</a></li>
		      <li class="submenu"><a class="menu-lien" href="{{ path('_cl_board') }}" title="Tableau">Tableau</a></li>
		      <li class="submenu"><a class="menu-lien" href="{{ path('_cl_rules') }}" title="Règlement">Règlement</a></li>
		      <li class="submenu"><a class="menu-lien" href="{{ path('_cl_prizes') }}" title="Cadeaux">Cadeaux</a></li>
		      {% if is_granted('ROLE_ADMIN') %}
		      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_cl') }}" title="Administrer une Champion's League">Admin CL</a></li>
		      {% endif %}
	      </ul>
	    </li>
	    
	    <li class="menu-4-coupedumonde">
	    <ul class="submenu-4-coupedumonde" style="display:none">
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">Parier</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_ranking') }}" title="Classement">Tableau CdM</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_rules') }}" title="Règlement du championnat">Règlement</a></li>
	      <li class="submenu"><a class="menu-lien" href="{{ path('_league_prizes') }}" title="Cadeaux Championnat 2013-2014">Cadeaux</a></li>
	      {% if is_granted('ROLE_ADMIN') %}
	      <li class="submenu"><a class="menu-lien" href="{{ path('_admin_league') }}" title="Administrer un championnat">Admin CdM</a></li>
	      {% endif %}
	    </ul>
	    </li></li>
	    
	    <a href="{{ path('_calendar') }}" title="Le calendrier des journées à venir"><li class="menu-5-calendar"></li></a>
	    <li class="menu-6-stats"></li>
		    <ul class="submenu-6-stats" style="display:none">
			    <li class="submenu"><a class="menu-lien" href="{{ path('_stats_teams') }}" title="Les différentes stats des équipes">Équipes</a></li>
			    <li class="submenu"><a class="menu-lien" href="{{ path('_league_history') }}" title="Suivre l'évolution des joueurs">Historique</a></li>
		      	<li class="submenu"><a class="menu-lien" href="{{ path('_stats_rewards') }}" title="Récompenses">Récompenses</a></li>
			</ul>  
	</ul>			
</div>		
