
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <a href="{{ path('_logout') }}"><img class="icon-disconnect tooltip-on" data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/logo-disconnect.png') }}" title="Déconnexion"/></a>
    <div class="navbar-header">

	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	       <span class="icon-bar"></span>
	    </button>
      <div class="navbar-brand">
	      <a href="{{ path('_home') }}"><img class="navbar-profile icon-home" src="{{ asset('bundles/lotofootv2/img/icon-home.png') }}" title="Accueil"/></a>&nbsp;
	       {{ app.user.username }}&nbsp;&nbsp;
	      <a href="{{ path('_profile') }}"><img class="navbar-profile" src="{{ asset('bundles/lotofootv2/img/profile-icon.png') }}" title="Mon compte"/></a>
      </div>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
		<li><div class="navbar-element"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-podium.png') }}" title="Classement"/> : 
			{% if app.user.Rank == 99 %}
				-
			{% else %}
				{{app.user.Rank}}
			{% endif %}			
        	&nbsp;&nbsp;-&nbsp;&nbsp;
        	<img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-score.png') }}" title="Score"/>  : {{ app.user.Points }}
        	&nbsp;&nbsp;-&nbsp;&nbsp;
        	<img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-cagnoute.png') }}" title="Cagnoute"/> : {{pot()*10}} €</div>
        </li>
        <li>
        	<div class="navbar-element">
        	    <span class="visible-xs" style="float:left;">Mes médailles : </span>      	
		        {% for r in rewards(app.user.id)%}
					<img src="{{ asset('bundles/lotofootv2/img/rewards/r'~r.rewardId~'.png') }}" 
						class="tooltip-on"
						title="{{('rewards.r'~r.rewardId~'.desc') | trans}}"
						data-placement="bottom"></img>&nbsp;
				{% endfor %}
		    </div>
		 </li>
		 <li class="dropdown visible-xs">
		 <a href="#" class="dropdown-toggle navbar-element" data-toggle="dropdown"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/rewards/r14.png') }}"/>&nbsp;&nbsp;Championnat&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
		 	<ul class="dropdown-menu" role="menu">
		 		<li><a class="navbar-element" href="{{ path('_league_vote') }}" title="Parier sur la prochaine journée de championnat">-&nbsp;&nbsp; Parier</a></li>
		 		<li><a class="navbar-element" href="{{ path('_league_ranking_day') }}" title="Classement Journée">-&nbsp;&nbsp; Classement Journée</a></li>
		 		<li><a class="navbar-element" href="{{ path('_league_ranking') }}" title="Classement Général">-&nbsp;&nbsp; Classement Général</a></li>
		 		<li><a class="navbar-element" href="{{ path('_league_rules') }}" title="Règlement du championnat">-&nbsp;&nbsp; Règlement</a></li>
		 		<li><a class="navbar-element" href="{{ path('_league_prizes') }}" title="Cadeaux Championnat 2013-2014">-&nbsp;&nbsp; Cadeaux</a></li>
		 	</ul>
		 </li>
		 <li class="dropdown visible-xs">
		 <a href="#" class="dropdown-toggle navbar-element" data-toggle="dropdown"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/rewards/r11.png') }}"/>&nbsp;&nbsp;Champion's&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
		 	<ul class="dropdown-menu" role="menu">
		 		<li><a class="navbar-element" href="{{ path('_cl_vote') }}" title="Parier sur la prochaine journée de Champion's League">-&nbsp;&nbsp; Parier</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cl_board') }}" title="Tableau">-&nbsp;&nbsp; Tableau final</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cl_rules') }}" title="Règlement Champion's League">-&nbsp;&nbsp; Règlement</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cl_prizes') }}" title="Cadeaux Champion's League">-&nbsp;&nbsp; Cadeaux</a></li>
		 	</ul>
		 </li>
		 <li class="dropdown visible-xs">
		 <a href="#" class="dropdown-toggle navbar-element" data-toggle="dropdown"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/rewards/r12.png') }}"/>&nbsp;&nbsp;Coupe du Monde&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
		 	<ul class="dropdown-menu" role="menu">
		 		<li><a class="navbar-element" href="{{ path('_cup_vote') }}" title="Parier sur la prochaine journée de coupe du monde">-&nbsp;&nbsp; Parier</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cl_board') }}" title="Tableau">-&nbsp;&nbsp; Tableau final</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cup_ranking') }}" title="Classement">-&nbsp;&nbsp; Classement</a></li>
		 		<li><a class="navbar-element" href="{{ path('_cup_rules') }}" title="Règlement du championnat">-&nbsp;&nbsp; Règlement</a></li>
		 	</ul>
		 </li>
		 <li class="visible-xs">
		 <a href="{{ path('_calendar') }}" title="Le calendrier des journées à venir" class="navbar-element"><img class="tooltip-on" data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-calendar.png') }}"/>&nbsp;&nbsp;Calendrier</a>
		 </li>
		 <li class="dropdown visible-xs">
		 <a href="#" class="dropdown-toggle navbar-element" data-toggle="dropdown"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-stats.png') }}"/>&nbsp;&nbsp;Stats & Médailles&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
		 	<ul class="dropdown-menu" role="menu">
		 		<li><a class="navbar-element" href="{{ path('_stats_rewards') }}" title="Liste des médailles">-&nbsp;&nbsp; Les médailles</a></li>
		 		<li><a class="navbar-element" href="{{ path('_league_history') }}" title="Suivre l'évolution des joueurs">-&nbsp;&nbsp; Tes stats</a></li>
		 		<li><a class="navbar-element" href="{{ path('_stats_teams') }}" title="Les différentes stats des équipes">-&nbsp;&nbsp; Équipes & Stats</a></li>
		 	</ul>
		 </li>
		 {% if is_granted('ROLE_ADMIN') %}
			 <li class="dropdown visible-xs">
			 <a href="#" class="dropdown-toggle navbar-element" data-toggle="dropdown"><img class="tooltip-on"	data-placement="bottom" src="{{ asset('bundles/lotofootv2/img/icon-admin.png') }}"/>&nbsp;&nbsp;Administration&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
			 	<ul class="dropdown-menu" role="menu">
			 		<li><a class="navbar-element" href="{{ path('_admin_league') }}" title="Administrer un championnat">-&nbsp;&nbsp; Admin League</a></li>
		 			<li><a class="navbar-element" href="{{ path('_admin_league_day') }}" title="Administrer une journée de championnat">-&nbsp;&nbsp; Admin Journée Championnat</a></li>
		 			<li><a class="navbar-element" href="{{ path('_admin_cl') }}" title="Administrer une Champion's League">-&nbsp;&nbsp; Admin CL</a></li>
		 			<li><a class="navbar-element" href="{{ path('_admin_cup') }}" title="Administrer World Cup">-&nbsp;&nbsp; Admin World Cup</a></li>
		 			<li><a class="navbar-element" href="{{ path('_admin_news') }}" title="Administrer les news">-&nbsp;&nbsp; Poster une News</a></li>
		 			<li><a class="navbar-element" href="{{ path('_admin_users') }}" title="Administrer les utilisateurs">-&nbsp;&nbsp; Admin utilisateurs</a></li>
			 	</ul>
			 </li>
		 {% endif %}
      </ul>
	   
    </div><!--/.nav-collapse -->
   </div>
</div>
