{# src/Lotofootv2/Bundle/Resources/views/Hello/login.html.twig #}
{% extends 'Lotofootv2Bundle::layout_login.html.twig' %}

{% block title %}
	Inscription au Lotofoot v2 !
{% endblock %}

{% block body %}

<div class="row">
    <div class="container-login">
    	<div style="text-align:center;">
           <a href="{{ path('_home') }}" title="Aller à la page d'accueil"><img  class="logo" src="{{ asset('bundles/lotofootv2/img/logo-lotofoot2018.png') }}"/></a>
        </div>
        <div class="register-box-bottom">	           
        	<div class="row"> 		               
		               	
               	{% if error is defined and error is not null %}
       				<div class="error2018">{{ error }}</div>
   				{% endif %}
		
				<form action="{{ path('_recover_password') }}" method="post" >
				
					<label class="control-label" for="_username">
						 Nom d'utilisateur * 
					</label><br/>
					<input type="text" id="_username" name="username" value="{{ app.request.get('username') }}" placeholder="Nom d'utilisateur" class="input-label" /><br/><br/>

					<button type="submit" class="push_button red">Rappeler par email</button>	

				</form>
		      </div>   	
		    </div>
	    </div>
      </div>
 



{% endblock %}