{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Stats Équipes &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-stats.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
	<div class="title-body">
		<a class="letter" href="#A">A</a> 
		<a class="letter" href="#B">B</a> 
		<a class="letter" href="#C">C</a> 
		<a class="letter" href="#D">D</a> 
		<a class="letter" href="#E">E</a> 
		<a class="letter" href="#F">F</a> 
		<a class="letter" href="#G">G</a> 
		<a class="letter" href="#H">H</a> 
		<a class="letter" href="#I">I</a> 
		<a class="letter" href="#J">J</a> 
		<a class="letter" href="#K">K</a> 
		<a class="letter" href="#L">L</a> 
		<a class="letter" href="#M">M</a> 
		<a class="letter" href="#N">N</a> 
		<a class="letter" href="#O">O</a> 
		<a class="letter" href="#P">P</a> 
		<a class="letter" href="#Q">Q</a> 
		<a class="letter" href="#R">R</a> 
		<a class="letter" href="#S">S</a> 
		<a class="letter" href="#T">T</a> 
		<a class="letter" href="#U">U</a> 
		<a class="letter" href="#V">V</a> 
		<a class="letter" href="#W">W</a> 
		<a class="letter" href="#X">X</a> 
		<a class="letter" href="#Y">Y</a> 
		<a class="letter" href="#Z">Z</a>
	</div>
{% endblock %}

{% block body %}
	
		<div class="bloc-letter" id="A">
			<div class="title-letter">A</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub35.html"><img src="{{ asset('bundles/lotofootv2/img/logos/ajaccio.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub35.html">Ajaccio</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub71.html"><img src="{{ asset('bundles/lotofootv2/img/logos/arsenal.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub71.html">Arsenal</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub70.html"><img src="{{ asset('bundles/lotofootv2/img/logos/aston-villa.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub70.html">Aston Villa</a>
		</div>
		<div class="bloc-letter" id="B">
			<div class="title-letter">B</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub16.html"><img src="{{ asset('bundles/lotofootv2/img/logos/bastia.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub16.html">Bastia</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub18.html"><img src="{{ asset('bundles/lotofootv2/img/logos/bordeaux.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub18.html">Bordeaux</a>
		</div>
		<div class="bloc-letter" id="C">
			<div class="title-letter">C</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub789.html"><img src="{{ asset('bundles/lotofootv2/img/logos/cardiff-city.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub789.html">Cardiff City</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub73.html"><img src="{{ asset('bundles/lotofootv2/img/logos/chelsea.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub73.html">Chelsea</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub589.html"><img src="{{ asset('bundles/lotofootv2/img/logos/crystal-palace.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub589.html">Crystal Palace</a>
		</div>
		<div class="bloc-letter" id="D">
			<div class="title-letter">D</div>
			
		</div>
		<div class="bloc-letter" id="E">
			<div class="title-letter">E</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub68.html"><img src="{{ asset('bundles/lotofootv2/img/logos/everton.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub68.html">Everton</a><br/>	
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub1897.html"><img src="{{ asset('bundles/lotofootv2/img/logos/evian.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub1897.html">Evian</a>			
		</div>
		<div class="bloc-letter" id="F">
			<div class="title-letter">F</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub748.html"><img src="{{ asset('bundles/lotofootv2/img/logos/fulham.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub748.html">Fulham</a>
		</div>
		<div class="bloc-letter" id="G">
			<div class="title-letter">G</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub37.html"><img src="{{ asset('bundles/lotofootv2/img/logos/guingamp.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub37.html">Guingamp</a>
		</div>
		<div class="bloc-letter" id="H">
			<div class="title-letter">H</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub4441.html"><img src="{{ asset('bundles/lotofootv2/img/logos/hull-city.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub4441.html">Hull City</a>
		</div>
		<div class="bloc-letter" id="I">
			<div class="title-letter">I</div>
			
		</div>
		<div class="bloc-letter" id="J">
			<div class="title-letter">J</div>
			
		</div>
		<div class="bloc-letter" id="K">
			<div class="title-letter">K</div>
			
		</div>
		<div class="bloc-letter" id="L">
			<div class="title-letter">L</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub43.html"><img src="{{ asset('bundles/lotofootv2/img/logos/lille.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub43.html">Lille</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub2084.html"><img src="{{ asset('bundles/lotofootv2/img/logos/liverpool.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub2084.html">Liverpool</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub11.html"><img src="{{ asset('bundles/lotofootv2/img/logos/lorient.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub11.html">Lorient</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub22.html"><img src="{{ asset('bundles/lotofootv2/img/logos/lyon.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub22.html">Lyon</a>
		</div>
		<div class="bloc-letter" id="M">
			<div class="title-letter">M</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub725.html"><img src="{{ asset('bundles/lotofootv2/img/logos/manchester-city.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub725.html">Manchester City</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub87.html"><img src="{{ asset('bundles/lotofootv2/img/logos/manchester-united.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub87.html">Manchester United</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub6.html"><img src="{{ asset('bundles/lotofootv2/img/logos/marseille.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub6.html">Marseille</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub25.html"><img src="{{ asset('bundles/lotofootv2/img/logos/monaco.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub25.html">Monaco</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub17.html"><img src="{{ asset('bundles/lotofootv2/img/logos/montpellier.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub17.html">Montpellier</a>
			
		</div>
		<div class="bloc-letter" id="N">
			<div class="title-letter">N</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub15.html"><img src="{{ asset('bundles/lotofootv2/img/logos/nantes.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub15.html">Nantes</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub75.html"><img src="{{ asset('bundles/lotofootv2/img/logos/newcastle-united.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub75.html">Newcastle United</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub46.html"><img src="{{ asset('bundles/lotofootv2/img/logos/nice.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub46.html">Nice</a>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub678.html"><img src="{{ asset('bundles/lotofootv2/img/logos/norwich-city.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub678.html">Norwich City</a>
		</div>
		<div class="bloc-letter" id="O">
			<div class="title-letter">O</div>
			
		</div>
		<div class="bloc-letter" id="P">
			<div class="title-letter">P</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub26.html"><img src="{{ asset('bundles/lotofootv2/img/logos/paris-sg.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub26.html">Paris-SG</a>
		</div>
		<div class="bloc-letter" id="Q">
			<div class="title-letter">Q</div>
			
		</div>
		<div class="bloc-letter" id="R">
			<div class="title-letter">R</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub211.html"><img src="{{ asset('bundles/lotofootv2/img/logos/reims.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub211.html">Reims</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub15.html"><img src="{{ asset('bundles/lotofootv2/img/logos/rennes.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub15.html">Rennes</a>
		</div>
		<div class="bloc-letter" id="S">
			<div class="title-letter">S</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub38.html"><img src="{{ asset('bundles/lotofootv2/img/logos/saint-etienne.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub38.html">Saint-Etienne</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub10.html"><img src="{{ asset('bundles/lotofootv2/img/logos/sochaux.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub10.html">Sochaux</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub69.html"><img src="{{ asset('bundles/lotofootv2/img/logos/southampton.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub69.html">Southampton</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub564.html"><img src="{{ asset('bundles/lotofootv2/img/logos/stoke-city.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub564.html">Stoke City</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub686.html"><img src="{{ asset('bundles/lotofootv2/img/logos/sunderland.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub686.html">Sunderland</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub10000000000000000000001885.html"><img src="{{ asset('bundles/lotofootv2/img/logos/swansea.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub10000000000000000000001885.html">Swansea</a>
		</div>
		<div class="bloc-letter" id="T">
			<div class="title-letter">T</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub86.html"><img src="{{ asset('bundles/lotofootv2/img/logos/tottenham.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub86.html">Tottenham</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub12.html"><img src="{{ asset('bundles/lotofootv2/img/logos/toulouse.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub12.html">Toulouse</a>
		</div>
		<div class="bloc-letter" id="U">
			<div class="title-letter">U</div>
			
		</div>
		<div class="bloc-letter" id="V">
			<div class="title-letter">V</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub415.html"><img src="{{ asset('bundles/lotofootv2/img/logos/valenciennes.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub415.html">Valenciennes</a>
		</div>
		<div class="bloc-letter" id="W">
			<div class="title-letter">W</div>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub750.html"><img src="{{ asset('bundles/lotofootv2/img/logos/west-bromwich-albion.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub750.html">West Bromwich Albion</a><br/>
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub77.html"><img src="{{ asset('bundles/lotofootv2/img/logos/west-ham.png') }}"/></a> 
			<a class="letter" href="http://www.lequipe.fr/Football/FootballFicheClub77.html">West Ham</a>
		</div>
		<div class="bloc-letter" id="X">
			<div class="title-letter">X</div>
			
		</div>
		<div class="bloc-letter" id="Y">
			<div class="title-letter">Y</div>
			
		</div>

		<div class="bloc-letter" id="Z">
			<div class="title-letter">Z</div>
		</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
