{% set bg_cl = true %}

{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="title-body">
		<div class="ligne-body-left">&nbsp;</div>
			Champion's League 2014 : Tableau Final &nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-cl.png') }}"/>
		<div class="ligne-body-right">&nbsp;</div>
	</div>
{% endblock %}
	
{% block body %}	
    <script type="text/javascript">
	   var URL_BOARD_RESULTS = "{{ path('_cl_board_results') }}";
	   var URL_BOARD_RESULTS_ALL = "{{ path('_cl_board_results_all') }}";
    </script>

	<script type="text/javascript" src="{{asset('bundles/lotofootv2/js/board.js')}}"></script> 
	<audio src="{{ asset('bundles/lotofootv2/img/cl-soundtrack.mp3') }}" autoplay></audio>
	
	<div class="tabfinal">
		
		<div class="tour">
			<div id="8final" class="title-tour">Huitièmes de finales</div>
			<div id="all_1" class="cl-all-res">
			</div>
			<div class="coll-joueurs">
				<div class="cell-confrontation" id="step_1_1_1_a">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_1_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_1_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_2_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_2_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_3_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_3_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_4_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_4_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_5_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_5_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_6_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_6_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_7_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_7_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
				<div class="cell-confrontation">
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_8_1_a', 'xxxxxx'), 'xxxxxx') }}
					</div>
					<div class="cell-joueur">
					   {{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_1_8_2_a', 'xxxxxx'), 'xxxxxx') }}
					</div> 
				</div>
			</div>
			<div class="coll-scores">
				<div class="cell-score" id="step_1_1">
					<div id="confrontation-step_1_1">
						
						
					</div> 
					<div class="cell-score-manche">
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_1_pa', '-') }}</div>
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_2_pa', '-') }}</div>
					</div>
					<div class="cell-score-manche">
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_1_pr', '-') }}</div>
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_2_pr', '-') }}</div>
					</div>
					<div class="cell-score-tot"> 
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_1_pt', '-') }}</div>
					<div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_1_2_pt', '-') }}</div>
					</div>
				</div>
				<div class="cell-score" id="step_1_2">
				<div id="confrontation-step_1_2">
						
						
			            </div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_2_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_3">
					<div id="confrontation-step_1_3">
						
							</div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_3_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_4">
				<div id="confrontation-step_1_4">
						
							</div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_4_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_5">
					<div id="confrontation-step_1_5">
						
							
				            </div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_5_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_6">
                    <div id="confrontation-step_1_6">
						
							
				            </div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_6_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_7">
                    <div id="confrontation-step_1_7">
						
							
				            </div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_7_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-score" id="step_1_8">
                    <div id="confrontation-step_1_8">
                    
						
							
				            </div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_1_8_2_pt', '-') }}</div>
                    </div>
                </div>
			</div>
		</div>
		<div class="link-next">
			<div class="link-tour2" style="margin-top:100px;"></div>
			<div class="link-tour2"></div>
			<div class="link-tour2"></div>
			<div class="link-tour2"></div>
		</div>
		<div class="tour">
			<div id="4final" class="title-tour">Quarts de finales</div>
			<div id="all_2" class="cl-all-res">
            </div>
			<div class="coll-joueurs">
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_1_1_a', 'x'), 'xxxxxx') }}</div>
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_1_2_a', 'x'), 'xxxxxx') }}</div> 
				</div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_2_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_2_2_a', 'x'), 'xxxxxx') }}</div>
				</div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_3_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_3_2_a', 'x'), 'xxxxxx') }}</div>
				</div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_4_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_2_4_2_a', 'x'), 'xxxxxx') }}</div>
				</div>
				
			</div>
			<div class="coll-scores">
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_2_1">
					<div id="confrontation-step_2_1">
						
					</div> 
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_1_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_2_2">
					<div id="confrontation-step_2_2">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_2_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_2_3">
					<div id="confrontation-step_2_3">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_3_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_2_4">
					<div id="confrontation-step_2_4">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_2_4_2_pt', '-') }}</div>
                    </div>
                </div>
				
			</div>
		</div>
		<div class="link-next">
			<div class="link-tour3"></div>
			<div class="link-tour3"></div>
		</div>
		<div class="tour">
			<div id="2final" class="title-tour">Demi-finales</div>
			<div id="all_3" class="cl-all-res">
            </div>
			<div class="coll-joueurs">
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_3_1_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_3_1_2_a', 'x'), 'xxxxxx') }}</div> 
				</div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_3_2_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_3_2_2_a', 'x'), 'xxxxxx') }}</div>
				</div>				
			</div>
			<div class="coll-scores">
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_3_1">
					<div id="confrontation-step_3_1">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_1_2_pt', '-') }}</div>
                    </div>
                </div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_3_2">
					<div id="confrontation-step_3_2">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_3_2_2_pt', '-') }}</div>
                    </div>
                </div>	
			</div>
		</div>
		<div class="link-next">
			<div class="link-tour4"></div>
		</div>
		<div class="tour">
			<div class="title-tour">Finale</div>
			<div class="coll-joueurs">
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-confrontation">
					<div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_4_1_1_a', 'x'), 'xxxxxx') }}</div>
                    <div class="cell-joueur">{{ reqKeyOrDefault(app.request, 'acc_'~reqKeyOrDefault(app.request, 'step_4_1_2_a', 'x'), 'xxxxxx') }}</div>
				</div>			
			</div>
			<div class="coll-scores">
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-space1"></div>
				<div class="cell-score" id="step_4_1">
					<div id="confrontation-step_4_1">
						
					</div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_1_pa', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_2_pa', '-') }}</div>
                    </div>
                    <div class="cell-score-manche">
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_1_pr', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_2_pr', '-') }}</div>
                    </div>
                    <div class="cell-score-tot"> 
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_1_pt', '-') }}</div>
                    <div class="cell-score-joueur">{{ reqKeyOrDefault(app.request, 'step_4_1_2_pt', '-') }}</div>
                    </div>
                </div>
			</div>
		</div>
		<div class="coupe-cl1"></div>
		<div class="coupe-cl2"></div>
	</div>

{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
