{% set bg_cl = true %}

{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Vos Paris Champion's League	&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-cl.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
		
	{% if step.opened == true %}
        <div style="text-align:center;color:red">
            <b>La journée est en attente de correction.</b><br/><br/>
        </div>
    {% endif %}
	<div class="row" style="text-align:center;">
    <table class="table-striped vote {% if step.opened == true %} notcorrected {% endif %}">
        <tr>
            <th>N°</th>
            <th>Domicile</th>
            <th>1</th>
            <th>N</th>
            <th>2</th>
            <th>Extérieur</th>
            <th>Score parié</th>
            <th>Score effectif</th>
            <th>Points</th>
        </tr>
        {% for match in matches %}
        <tr class="vote-cl">
            <td>
                {{match.number}}
            </td>
            <td>
                {{match.teamHome}}
            </td>
            <td class="{% if app.request.get('result_'~match.id) == '1'%} voted {%endif%} {% if step.opened == false %}{%if match.result == '1'%} result {%else %} noresult {%endif%}{%endif%}"></td>
            <td class="{% if app.request.get('result_'~match.id) == 'N'%} voted {%endif%} {% if step.opened == false %}{%if match.result == 'N'%} result {%else %} noresult {%endif%}{%endif%}"></td>
            <td class="{% if app.request.get('result_'~match.id) == '2'%} voted {%endif%} {% if step.opened == false %}{%if match.result == '2'%} result {%else %} noresult {%endif%}{%endif%}"></td>
            <td>
                {{match.teamVisitor}}
            </td>
            <td class="{% if app.request.get('score_'~match.id) == match.score%} scoreok {% endif %}">
                {{app.request.get('score_'~match.id)}}
            </td>
            <td>
                {{match.score}}
            </td>
            <td>
                {{app.request.get('points_'~match.id)}}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="invisible"></td>
            <td class="total">Total</td>
            <td class="total">{{total}}</td>
        </tr>
    </table>
	</div>
	<br/><br/>
	<div class="row" style="text-align:center;">
	<audio src="{{ asset('bundles/lotofootv2/img/cl-soundtrack.mp3') }}" controls ></audio>
	</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
