{% set bg_cl = true %}

{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Vos Paris Champion's League	&nbsp;
			<img src="{{ asset('bundles/lotofootv2/img/title-cl.png') }}"/>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>
{% endblock %}
	
{% block body %}
	
	{% if step.state == "W" %}
	   
	   La liste des matchs va être administrée très prochainement.
	   
	{% else %}
	
		Voici la liste des matchs pour lesquels vous n'aurez <b>pas</b> la chance de pouvoir voter =) :<br/>
		
	        <table>
	            <tr>
	                <th>N°</th>
	                <th>Domicile</th>
	                <th>Extérieur</th>
	            </tr>
	            {% for match in matches %}
	            <tr  class="vote-cl">
	                <td>
	                    {{match.number}}
	                </td>
	                <td>
                        {{match.teamHome}}
	                </td>
	                <td>
	                    {{match.teamVisitor}}
	                </td>
	            </tr>
	            {% endfor %}
	        </table> 
	{% endif %}
	
	<audio src="{{ asset('bundles/lotofootv2/img/cl-soundtrack.mp3') }}" controls></audio>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
