{# src/Lotofootv2/Bundle/Resources/views/Hello/index.html.twig #}
{% extends 'Lotofootv2Bundle::layout.html.twig' %}


{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	
{% endblock %}
	
{% block body %}
	
	{% if step is null or step.state == "W" %}
       
       La liste des matchs va être administrée très prochainement.
       
    {% else %}
    
	   Vous êtes en lice pour la compétition "League des Champions" !<br/>
	   Date limite : <span style="font-weight: bold">{{ step.deadline|date("d/m/Y H:i") }}&nbsp;&nbsp;&nbsp;</span>
	
	   <form action="{{ path('_cl_vote_post') }}" method="post" style="width:800px;margin:auto">

            <table>
                <tr>
                    <th>N°</th>
                    <th>Domicile</th>
                    <th>1</th>
                    <th>N</th>
                    <th>2</th>
                    <th>Extérieur</th>
                    <th>Score parié</th>
                </tr>
                {% for match in matches %}
                <tr>
                    <td>
                        {{match.number}}
                    </td>
                    <td>
                        {{match.teamHome}}
                    </td>
                    <td><input id="result_{{match.id}}_1" type="radio" name="result_{{match.id}}" value="1"
                        {% if app.request.get('result_'~match.id) == '1' %}checked{% endif %}/> </td>
                    <td><input id="result_{{match.id}}_N" type="radio" name="result_{{match.id}}" value="N"
                        {% if app.request.get('result_'~match.id) == 'N' %}checked{% endif %}/> </td>
                    <td><input id="result_{{match.id}}_2" type="radio" name="result_{{match.id}}" value="2"
                        {% if app.request.get('result_'~match.id) == '2' %}checked{% endif %}/> </td>
                    
                    <td>
                        {{match.teamVisitor}}
                    </td>
                    <td>    
                        <input id="score_{{match.id}}" type="text" autocomplete="off" name="score_{{match.id}}" value="{{ app.request.get('score_'~match.id) }}" size="3" maxlength="3" style="width:50px" placeholder="x-x"/>
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            <div class="control-group">
                <div class="controls">
                     <input type="submit" class="btn-vote" value="Valider vos votes pour la journée !"/>
                </div>
            </div>
            <div style="clear:both"></div>
        </form>
	
	{% endif %}
	
	<audio src="{{ asset('bundles/lotofootv2/img/cl-soundtrack.mp3') }}" autoplay loop></audio>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}
