{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">
				ADMINISTRATION COUPE DU MONDE
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}
<div class="row">
		<div class="container container-home">
	<div class="stop-float"></div>
	
	<a href="{{ path('_admin_cup_stats') }}" class="push_button blue">Statistiques et votes</a>
	
	<h3>Correction des matchs</h3>
	
	   <form class="form form-horizontal" action="{{ path('_admin_cup_correct') }}" method="post">
	       <table class="table table-striped">
            <tr>
                <th>
                    N°
                </th>
                <th>
                    Équipe A
                </th>
                <th>
                    Score 120'
                </th>
                <th>
                    Résultat Final
                </th>
                <th>
                    Équipe B
                </th>
            </tr>
	       {% for match in nc_matchs %}
	       <tr  class="vote-cup">
                <td>
                    {{match.id}}
                </td>
                <td>
                    <div class="drapeau {{match.teamHome}}"></div><div class="match-cup">{{('nationalteams.'~match.teamHome) | trans}}
                </td>
                {% if match.deadline|date('U') < "now"|date('U') %}
                <td>
                    <input type="text" name="score_{{match.id}}" size="3" autocomplete="off"  style="border:0px" value="{{app.request.get('score_'~match.id)}}"/>                                                           
                </td>
                <td>
                    <input type="text" name="result_{{match.id}}" size="3" autocomplete="off"  style="border:0px" value="{{app.request.get('result_'~match.id)}}"/>                                                           
                </td>
                {% else %}
                <td style="background-color:#65ad61; color:white">
                    Pari en cours<br/>
                    {{match.deadline|date('d/m/Y H:i')}}                                                
                </td>
                <td>
                </td>              
                {% endif %}
                <td>
                    <div class="drapeau {{match.teamVisitor}}"></div><div class="match-cup">{{('nationalteams.'~match.teamVisitor) | trans}}
                </td>
            </tr>
            
	       
	       {% endfor %}
	       </table>
	       
	       <input type="submit" name="Valider" class="push_button blue"/>  
	       
	   </form>
	
	
	<br/>
	<h3>Nouveaux matchs</h3>
	<br/>
	
	<form action="{{ path('_admin_cup_matchs_create') }}" method="post" style="width:800px;margin:auto">
	
	    <table class="table table-striped" id="match-table">
	        <tr>
	            <th>
	                N°
	            </th>
	            <th>
	                Équipe A
	            </th>
	            <th>
	                Équipe B
	            </th>
	            <th>
	                 Facteur
	            </th>
	            <th>
                     Deadline J
                </th>
                <th>
                     Deadline H
                </th>
	        </tr>
	        {% for i in 1..8 %}
	        <tr class="vote-cup">
	            <td>
	                {{i}}
	            </td>
	            <td>
	                <input type="text" name="home_{{i}}" value="{{ app.request.get('home_'~i) }}" style="border:0px"/>
	            </td>
	            <td>
	                <input type="text" name="visitor_{{i}}" value="{{ app.request.get('visitor_'~i) }}" style="border:0px"/>
	            </td>
	            <td>
	                <input type="text" name="factor_{{i}}" value="{{ app.request.get('factor_'~i) }}" style="border:0px; width:50px;"/>
	            </td>
	            <td>
                    <input type="text" name="deadline_{{i}}" value="{{ app.request.get('deadline_'~i) }}" placeholder="jj/mm/aaaa" style="border:0px; width:70px;"/>
                </td>
                <td>
                    <input type="text" name="deadlineh_{{i}}" value="{{ app.request.get('deadlineh_'~i) }}" placeholder="HH:mm" style="border:0px; width:50px;"/>
                </td>
	        </tr>
	        {% endfor %}
	    </table>
	    
	    <input type="submit" class="push_button blue" value="Lancer !"/>
    
    </form>
    

    
<h3>Abbréviations des équipes nationales</h3>	
<ul>
	<li>ALL:Allemagne</li>
	<li>ANG:Angleterre</li>
	<li>ARS:Arabie Saoudite</li>
	<li>ARG:Argentine</li>
	<li>AUS:Australie</li>
	<li>BEL:Belgique</li>
	<li>BRE:Brésil</li>
	<li>COL:Colombie</li>
	<li>CDS:Corée du Sud</li>
	<li>CRI:Costa Rica</li>
	<li>CRO:Croatie</li>
	<li>DAN:Danemark</li>
	<li>EGY:Egypte</li>
	<li>ESP:Espagne</li>
	<li>FRA:France</li>
	<li>IRN:Iran</li>
	<li>ISL:Islande</li>
	<li>JAP:Japon</li>
	<li>MAR:Maroc</li>
	<li>MEX:Mexique</li>
	<li>NGA:Nigeria</li>
	<li>PAN:Panama</li>
	<li>PER:Pérou</li>
	<li>POL:Pologne</li>
	<li>POR:Portugal</li>
	<li>RUS:Russie</li>
	<li>SEN:Sénégal</li>
	<li>SER:Serbie</li>
	<li>SUE:Suède</li>
	<li>SUI:Suisse</li>
	<li>TUN:Tunisie</li>
	<li>URU:Uruguay</li>


</ul>
</div>
</div>
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}