{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">
				STATS COUPE DU MONDE
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}
<div class="row">
		<div class="container container-home">
	<div class="stop-float"></div>
	
    <br/>
    <h3>Matchs terminés</h3>
    <br/>
     {% if stats is not null %}
      <table class="table table-striped" id="match-table">
          <tr>
              <th>
                  N°
              </th>
              <th>
                  Match
              </th>
              <th>
                   Deadline
              </th>
              <th>
                   Nb Votants
              </th>
              <th>
                   Moyenne
              </th>
              <th>
                   Nb Resultats
              </th>
              <th>
                   Nb Scores
              </th>
          </tr>
          {% for s in stats %}
          <tr class="vote-cup">
              <td>
                  {{s.id}}
              </td>
              <td>
              	<div class="drapeau {{s.team_home}}"></div><div class="match-cup">{{('nationalteams.'~s.team_home) | trans}} </div>                 
              	<div class="match-cup">{{('nationalteams.'~s.team_visitor) | trans}} </div> <div class="drapeau {{s.team_visitor}}" style="margin-left:5px;"></div>
              </td>
              <td>
                  {{s.deadline|date('d/m/Y H:i')}}
              </td>
              <td>
                  {{s.votants}}
              </td>
              <td>
                  {{s.moyenne|number_format(2, '.', ',')}}
              </td>
              <td>
                  {{s.nbresult}}
              </td>
              <td>
                  {{s.nbscore}}
              </td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}
      
    <br/>
    <h3>Prochain match le {{next.deadline|date('d/m/Y H:i')}}</h3>
    <div class="drapeau {{next.teamHome}}"></div> <h4>{{('nationalteams.'~next.teamHome)|trans}} </h4>
    <div class="drapeau {{next.teamVisitor}}"></div> <h4>{{('nationalteams.'~next.teamVisitor)|trans}} </h4>
    <br/>
    <u><b>N'a pas voté ({{not_voted|length}}):</b></u> <br/>
    {% for v in not_voted %}
        {{v.username}}, 
    {% endfor %}
    <br/><br/>
    {% for v in not_voted %}
        {{v.email}}; 
    {% endfor %}
    
    <br/><br/>
        <u><b>A voté ({{voted|length}}):</b></u> <br/>
    {% for v in voted %}
        {{v.username}}, 
    {% endfor %}
    <br/><br/>
    {% for v in voted %}
        {{v.email}};
    {% endfor %}
    </div></div>  
      
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}