{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block body %}
	
	<script src="{{asset('bundles/lotofootv2/lib/ckeditor/ckeditor.js')}}"></script>
	<script src="{{asset('bundles/lotofootv2/lib/ckeditor/adapters/jquery.js')}}"></script>
	
	<form action="{{ path('_admin_news_create') }}" method="post" style="width:800px;margin:auto">
		
		<div class="control-group">
			<label class="control-label" for="_title">
				 Titre <span style="color:red"> * </span> 
			</label>
			<div class="controls">
				 <input type="text" id="_title" name="title" value="{{ app.request.get('title') }}" placeholder="Titre"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="_news-editor">
				 News <span style="color:red"> * </span> 
			</label>
			<div class="controls">
				<textarea rows="10" cols="100" id="_news-editor" name="text" value="{{ app.request.get('text') }}"></textarea>
			</div>
		</div>
		
		<input type="submit" value="Publier"></input>
	</form>
	
			
	<script type="text/javascript">
		$( document ).ready( function() {
			$( 'textarea#_news-editor' ).ckeditor();
		} );
	</script>
{% endblock %}