{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<br/><br/>
	<div class="row">
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
			<div class="col-sm-6 col-xs-12 title-body">
				Admin utilisateurs
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="ligne-body">&nbsp;</div>
			</div>
		</div>	
{% endblock %}

{% block body %}
	<br/><br/>
	<div class="row" style="text-align:center;">
	<table  class="table-striped vote">
		<tr>
			<th>ID</th>
			<th>Utilisateur</th>
			<th>Email</th>
			<th>Activation</th>
			<th>Adminitrateur</th>
		</tr>
		{% for u in users %}
		<tr>
			<td>
				{{u.ID}}
			</td>
			<td>
				{{u.username}}
			</td>
			<td>
				{{u.email}}
			</td>
			<td>
				<a href="{{ path('_admin_users_activation') }}?id={{u.id}}">
					{% if u.enabled %}
					Passer inactif
					{% else %}
					Passer actif
					{% endif %}				
				</a>
			</td>
			<td>
				{% if u.admin %}
					<img src="{{ asset('bundles/lotofootv2/img/found.png') }}" style="width:16px;height:16px"/>
				{% endif %}				
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}