{% extends 'Lotofootv2Bundle::layout.html.twig' %}

{% block navibar %}
	{% include 'Lotofootv2Bundle::navibar.html.twig' %}
{% endblock %}

{% block menu %}
	{% include 'Lotofootv2Bundle::menu.html.twig' %}
{% endblock %}

{% block title_body %}
	<div class="row">
		<div class="container container-home" style="text-align:center;">

			<div class="title-body">
				ADMINISTRATION DES UTILISATEURS
			</div>

		</div>	
	</div>
{% endblock %}

{% block body %}
<div class="row">
		<div class="container container-home">
	<table  class="table-striped vote">
		<tr>
			<th>ID</th>
			<th>Utilisateur</th>
			<th>Email</th>
			<th>Activation</th>
			<th>Adminitrateur</th>
			<th>cagnoute</th>
		</tr>
		{% for u in users %}
		<tr>
			<td>
				{{u.ID}}
			</td>
			<td>
				{{u.username}} &nbsp; {% if u.cupCagnoute %}
					<img src="{{ asset('bundles/lotofootv2/img/rewards/r9.png') }}" style="width:16px;height:16px"/>{% endif %}	
			</td>
			<td>
				{{u.email}}
			</td>
			<td>
				<a href="{{ path('_admin_users_activation') }}?id={{u.id}}">
					{% if u.enabled %}
					<span style="color:green">Passer inactif</span>
					{% else %}
					<span style="color:red">Passer actif</span>
					{% endif %}				
				</a>
			</td>
			<td>
				{% if u.admin %}
					<img src="{{ asset('bundles/lotofootv2/img/found.png') }}" style="width:16px;height:16px"/>
				{% endif %}				
			</td>
			<td>
				<a href="{{ path('_admin_cagnoute_activation') }}?id={{u.id}}">
					{% if u.cupCagnoute %}
					<span style="color:green">Enlever Cagnoute</span>
					{% else %}
					<span style="color:red">Ajouter Cagnoute</span>
					{% endif %}				
				</a>
		
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
</div>
	
{% endblock %}

{% block footer %}
	{% include 'Lotofootv2Bundle::footer.html.twig' %}
{% endblock %}